<div class="general-modal">
  <div class="d-flex justify-content-between align-items-center">
    <h1 class="text-capitalize">
      <!-- {{'general.deactivate' | translate}} -->
    </h1>
    <a (click)="closeDialog()">
      <i class="fas fa-close btn-modal-close"></i>
    </a>
  </div>
  <hr />
  <div class="d-flex justify-content-end align-items-center gap-2 mt-4">
    <button class="btn btn-solid-second mt-2" (click)="closeDialog()">
      {{'general.cancel' | translate}}
    </button>
  </div>
</div>
