<ng-container *ngIf="isloadingBtn">
  <div class="overlay-spinner-loading d-flex justify-content-center align-items-center">
    <div class="spinner-grow" role="status">
    </div>
  </div>
</ng-container>

<div class="forget-password overflow-hidden bg-white-color">
  <div class="row d-flex justify-content-center align-items-center">

    <div class="col-xl-5 col-md-6 col-sm-8 col-12 h-100">
      <div class="d-flex flex-column justify-content-center align-items-center min-vh-100 mx-5">

        <div class="d-flex justify-content-between align-items-center select-language w-100 mt-3">
          <img *ngIf="currentLanguage=='ar'" src="assets/image/us.svg" class="fit-contain lang"
            (click)="translationService?.changeLang('en')">
          <img *ngIf="currentLanguage=='en'" src="assets/image/eg.svg" class="fit-contain lang"
            (click)="translationService?.changeLang('ar')">
          <i class="fa fa-arrow-left scaleX-rtl" style="font-size: 1.5rem" (click)="back()"></i>
        </div>

        <h2 class="text-black-color mt-3 fs-3">
          {{'form.forget_password_title' | translate}}
        </h2>

        <div class="bg-second-color p-4 rounded-25 color-secondry mt-4 lh-base w-100">
          {{'general.enter'| translate}} <span class="fw-bold"> {{'general.your_email'| translate}} </span>
          {{'general.to_send'| translate}} <span class="fw-bold"> {{'general.verify_code'| translate}} </span>
          {{'general.to_continue'| translate}}
        </div>

        <div class="d-flex justify-content-between align-items-center w-100">
          <div class="form-content py-5 w-100">

            <div class="mb-3">
              <label class="form-label">
                {{'form.email'|translate}}
              </label>
              <input type="email" class="form-control" placeholder="{{'placeholder.email' | translate}}">
            </div>

            <button type="button" class="btn w-100 btn-solid-main my-3" (click)="submit()" [disabled]="isloadingBtn">
              {{'form.confirm'|translate}}
            </button>

            <div class="d-flex justify-content-start align-items-center">
              <h1 class="text-secondary-color fw-bold">
                {{'form.no_account'|translate}}
                <a routerLink="/auth/register">{{'form.registeration'|translate}}</a>
              </h1>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>
</div>
