.form-control,
.form-control:focus,
.form-control:focus-visible,
.form-select,
.form-select:focus,
.form-select:focus-visible,
.ng-select.ng-select-single .ng-select-container,
.p-inputmask,
.p-password-input,
.p-calendar-w-btn .p-inputtext,
.p-inputtext {
  box-shadow: none !important;
  outline: none !important;
  background-color: var(--bg-input-color) !important;
  border-color: var(--border-input-color);
  height: 3.9rem !important;
  border-radius: var(--border-input-radius);
  padding: 1rem;
}
.p-mask .p-inputmask {
  border-radius: var(--border-input-radius) !important;
}
.border-red {
  border-radius: var(--border-input-radius) !important;
  overflow: hidden;
}

.otp-code {
  display: flex !important;
  justify-content: center !important;
  gap: 5px !important;
  input {
    height: 3.9rem;
    width: 5rem;
    background-color: var(--bg-input-color) !important;
    border-color: var(--border-input-color) !important;
    border-radius: 0.625rem !important;
    cursor: pointer;
    font-weight: bold !important;
    font-size: 25px;
  }

  span {
    flex: 0 !important;
  }
}
