.fs-5-1 {
  font-size: 1.15rem !important;
}
.fs-8 {
  font-size: 0.85rem !important;
}
.pt-sec {
  padding-top: 80px;
}
.form-logo {
  width: 100px;
  height: 55px;
  cursor: pointer;
  object-fit: contain;
}
.badge-main {
  background-color: #fb21191c;
  color: var(--text-main-color);
  padding: 2px 8px !important;
  border-radius: 3px;
}
.global-card {
  border: none;
  border-radius: 14px;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.06);
  background-color: var(--bg-white-color);
  padding: 20px;
}

.badge-info {
  color: #1071b8;
  background-color: rgba(16, 113, 184, 0.11);
  padding: 0.5rem 1rem !important;
  border-radius: 7px;
}
.badge-danger {
  background-color: #fb21191c;
  color: var(--text-main-color);
  border-radius: 7px;
  padding: 0.5rem 1rem !important;
}
