// ---- Owl-Carousel Media Queries ----//
@media (max-width: 767px) {
  .owl-carousel .owl-nav .owl-next,
  .owl-carousel .owl-nav .owl-prev {
    display: none !important;
  }
}

//----- Components -----//
@media (min-width: 768px) {
  #subscription .description {
    text-align: start !important;
  }
}
@media (max-width: 767px) {
  #subscription .description {
    text-align: center;
  }
  .error .title {
    font-size: 200px !important;
    letter-spacing: -20px !important;

    .fs-lg {
      font-size: 2.5rem !important;
    }
  }
  .hero-layer {
    scale: 0.75 !important;
  }
  .w-sm-100 {
    width: 100% !important;
  }
  .mat-dialog-container,
  .cdk-overlay-pane {
    width: 100% !important;
  }

  .policy {
    min-height: auto !important;
  }

  .height-auto-small {
    height: inherit !important;
  }

  .position-inherit-small {
    position: inherit !important;
  }

  .padding-small-1 {
    padding: 1rem !important;
  }

  .py-small-2 {
    padding-top: 2rem !important;
    padding-bottom: 2rem !important;
  }

  .flex-column-small {
    flex-direction: column !important;
  }

  .gap-small-2 {
    gap: 0.5rem !important;
  }

  .mt-small-1 {
    margin-top: 1rem !important;
  }

  .mx-small-1 {
    margin-left: 1rem !important;
    margin-right: 1rem !important;
  }

  .fs-sm-2 {
    font-size: 1.5rem;
  }

  .fs-sm-1-2 {
    font-size: 18px !important;
  }

  .w-small-100 {
    width: 100% !important;
  }

  .center-el-sm {
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
  }

  .text-center-small {
    text-align: center !important;
  }

  .fs-sm-1-5 {
    font-size: 1.5rem !important;
  }

  .mt-small-1 {
    padding-top: 1rem;
  }

  .h-small-40 {
    height: 40rem !important;
    margin-bottom: 1rem;
  }

  .mt-small-0 {
    margin-top: 0 !important;
  }

  .mt-small-2 {
    margin-top: 2rem !important;
  }

  .h-small-25 {
    height: 25rem !important;
    margin-bottom: 1rem;
    margin-top: 1rem;
  }

  .search .dropdown-menu {
    width: 21rem !important;
    transform: translateX(-43%) !important;
  }

  .notifcation .dropdown-menu {
    width: 22rem !important;
  }

  .user-info .dropdown-menu {
    width: 21rem !important;
    transform: translateX(-68%) !important;
  }

  .dropdown-language .dropdown-menu {
    transform: translateX(50%);
  }
}

@media (min-width: 1300px) {
  .height-pages {
    min-height: calc(100vh - 18.5rem);
  }
}

@media (max-width: 425px) {
  .hero-layer {
    scale: 0.65 !important;
  }
}

@media (min-width: 1200px) {
  .header-button {
    left: 10rem !important;
  }
}

@media (max-width: 1200px) {
  .d-medium-none {
    display: none !important;
  }
}

@media (min-width: 991px) {
  .min-vheight-100 {
    min-height: 100vh !important;
    padding: 0 !important;
  }

  /*header*/
  .header-button {
    left: 3rem;
  }

  .lg-left {
    left: -18rem !important;
  }

  .mat-step-header {
    background: #71829573;
    height: 8rem !important;
    width: 8rem;
  }

  .steeper-p {
    display: block;
  }
}

@media (max-width: 991px) {
  .navbar-collapse {
    background-color: var(--bg-white-color);
    padding: 10px;
    box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075) !important;
    border-bottom-left-radius: 0.5rem;
    border-bottom-right-radius: 0.5rem;
    .nav-link {
      text-align: center;
    }
  }
  .hero-layer {
    scale: 0.85;
  }
  .pay-modal {
    width: 80% !important;
  }
  .mat-dialog-container,
  .cdk-overlay-pane {
    width: auto !important;
  }

  .gap-medium-2 {
    gap: 0.5rem !important;
  }

  .mt-medium-1 {
    margin-top: 1rem !important;
  }

  .flex-column-md {
    flex-direction: column !important;
  }

  .w-100-md {
    width: 100% !important;
  }

  .mb-1-md {
    margin-bottom: 1rem !important;
  }

  .paddingY-md-0 {
    padding-top: 0 !important;
    padding-bottom: 0 !important;
  }

  .padding-md-1 {
    padding: 1rem !important;
  }

  .d-medium-none {
    display: none !important;
  }

  .navbar-nav {
    width: 100%;
    background-color: var(--white-color);
    border-radius: 10px;

    .nav-link {
      color: var(--black-color);
    }

    .contact-selector .dropdown-menu.show {
      left: 0;
      top: -13.5rem !important;
    }

    .language .dropdown-menu.show {
      left: 0;
      top: -6rem !important;
    }
  }

  .text-center-small {
    text-align: center !important;
  }

  .py-medium-3 {
    padding-top: 3rem !important;
    padding-bottom: 3rem !important;
  }

  .pt-medium-7 {
    padding-top: 7rem !important;
  }

  .my-medium-3 {
    padding: 1rem 0;
  }

  .fs-md-2 {
    font-size: 2rem;
  }

  .fs-md-1 {
    font-size: 1rem !important;
  }

  .me-1 {
    margin-right: initial !important;
    margin-left: 0.25rem !important;
  }

  .part-head {
    font-size: 1.7rem !important;
  }

  .w-md-100,
  .ng-select-searchable {
    width: 100% !important;
  }

  /*dropdowns*/
  .user-info .dropdown-menu,
  .notifcation .dropdown-menu,
  .search .dropdown-menu,
  .dropdown-theme .dropdown-menu {
    left: 50% !important;
    transform: translateX(-50%);
  }

  .layout-content {
    min-height: calc(100vh - 142px) !important;
  }
}
@media (min-width: 551px) {
  .otp-code {
    input {
      font-size: 25px !important;
      height: 3.9rem !important;
      width: 5rem !important;
    }
  }
}
@media (max-width: 550px) {
  .otp-code {
    input {
      width: 4rem !important;
    }
  }
}
@media (max-width: 565px) {
  .error .title {
    font-size: 150px !important;
    letter-spacing: -20px !important;
  }
  .otp-code {
    input {
      width: 4rem !important;
    }
  }
  .scroll-to-top {
    width: 40px !important;
    height: 40px !important;
  }

  .drop {
    width: 300px !important;
    transform: translate3d(-17px, 38px, 0px) !important;
  }
}
@media (max-width: 425px) {
  .otp-code {
    input {
      width: 3.5rem !important;
      font-size: 21px !important;
      height: 3.3rem !important;
    }
  }
}
@media (max-width: 375px) {
  .otp-code {
    input {
      width: 2.5rem !important;
      font-size: 20px !important;
    }
  }
}

@media (max-width: 350px) {
  .dropdown-theme .dropdown-menu {
    right: -4rem !important;
  }
  .otp-code {
    input {
      width: 2.3rem !important;
      font-size: 20px !important;
    }
  }
}
