<ng-container *ngIf="type=='table'">
  <p-table [value]="skeletonItems">
    <ng-template pTemplate="body" let-item>
      <tr>
        <ng-container *ngFor="let item of tableItems">
          <td class="p-4"><p-skeleton width="80%" height="1.3rem" borderRadius="6px"></p-skeleton></td>
        </ng-container>
      </tr>
    </ng-template>
  </p-table>
</ng-container>

<ng-container *ngIf="type=='uploadImage'">
  <div class="m-auto upload-image">
    <p-skeleton size="2rem" styleClass="mb-2"></p-skeleton>
    <p-skeleton width="80%" styleClass="mb-2"></p-skeleton>
    <p-skeleton width="40%" styleClass="mb-2"></p-skeleton>
  </div>
</ng-container>


<ng-container *ngIf="type=='add-edit-policy'">
  <div class="row">
    <div class="col-md-8">
      <div class="global-card">
        <p-skeleton width="10rem" styleClass="mb-3" height="1rem"></p-skeleton>
        <p-skeleton width="100%" height="6rem"></p-skeleton>
      </div>
    </div>
    <div class="col-md-4 mt-md-0 mt-4">
      <div class="global-card h-100">
        <p-skeleton width="100%" styleClass="mb-2" height="7rem"></p-skeleton>
      </div>
    </div>
  </div>
  <div class="row mt-4">
    <div class="col-12">
      <div class="global-card">
        <div class="row mt-lg-0 mt-4">
          <ng-container *ngFor="let item of [7,7,7,5,5,5]">
            <div class="col-md-6 col-sm-12 col-12">
              <p-skeleton width="100%" styleClass="mb-4" height="3rem"></p-skeleton>
            </div>
          </ng-container>
        </div>
      </div>
    </div>
  </div>
</ng-container>

<ng-container *ngIf="type=='transactions'">
  <div>
    <p-skeleton width="12rem" height="1rem" styleClass="mb-4"></p-skeleton>
    <ng-container *ngFor="let item of [3,4,4]">
      <div class="global-card p-4 mb-3">
        <div class="d-flex justify-content-between align-items-center">
          <div class="d-flex align-items-center gap-3">
            <div class="icon d-flex justify-content-center align-items-center  text-white-color rounded-circle">
              <p-skeleton size="3rem" shape="circle"></p-skeleton>
            </div>
            <div>
              <p-skeleton width="2rem" height="1rem"></p-skeleton>
              <p-skeleton width="12rem" height="1rem" styleClass="mt-2"></p-skeleton>
            </div>
          </div>
          <div class="arrow">
            <p-skeleton width="1rem" height="1rem"></p-skeleton>
          </div>
        </div>
      </div>
    </ng-container>
  </div>
</ng-container>

<ng-container *ngIf="type=='categories'">
  <p-skeleton width="10rem" height="1rem" styleClass="mb-4"></p-skeleton>
  <ng-container *ngFor="let item of [3,4,9,9,4]">
    <div class="global-card p-4 mb-3">
      <div class="">
        <div class="d-flex justify-content-between mb-2">
          <p-skeleton width="10rem" height="1rem"></p-skeleton>
          <p-skeleton width="1rem" height="1rem"></p-skeleton>
        </div>
        <div class="progress underReview">
          <p-skeleton width="100%" height="1.5rem"></p-skeleton>
        </div>
      </div>
    </div>
  </ng-container>
</ng-container>