<ng-container *ngIf="type=='table'">
  <p-table [value]="skeletonItems">
    <ng-template pTemplate="body" let-item>
      <tr>
        <ng-container *ngFor="let item of tableItems">
          <td class="p-4"><p-skeleton width="80%" height="1.3rem" borderRadius="6px"></p-skeleton></td>
        </ng-container>
      </tr>
    </ng-template>
  </p-table>
</ng-container>

<ng-container *ngIf="type=='uploadImage'">
  <div class="m-auto upload-image">
    <p-skeleton size="2rem" styleClass="mb-2"></p-skeleton>
    <p-skeleton width="80%" styleClass="mb-2"></p-skeleton>
    <p-skeleton width="40%" styleClass="mb-2"></p-skeleton>
  </div>
</ng-container>


<ng-container *ngIf="type=='add-edit-policy'">
  <div class="row">
    <div class="col-md-8">
      <div class="global-card">
        <p-skeleton width="10rem" styleClass="mb-3" height="1rem"></p-skeleton>
        <p-skeleton width="100%" height="6rem"></p-skeleton>
      </div>
    </div>
    <div class="col-md-4 mt-md-0 mt-4">
      <div class="global-card h-100">
        <p-skeleton width="100%" styleClass="mb-2" height="7rem"></p-skeleton>
      </div>
    </div>
  </div>
  <div class="row mt-4">
    <div class="col-12">
      <div class="global-card">
        <div class="row">
          <ng-container *ngFor="let item of [7,7,7,5,5,5]">
            <div class="col-md-6 col-sm-12 col-12">
              <p-skeleton width="100%" styleClass="mb-4" height="3rem"></p-skeleton>
            </div>
          </ng-container>
        </div>
      </div>
    </div>
  </div>
</ng-container>