<div id="home" class="pb-5">
  <section id="hero-section" class="d-flex align-items-center justify-content-center position-relative">
    <div class="container ">
      <div class="right-bg" data-aos="fade-down" data-aos-easing="ease-in-out"> </div>
      <div class="row min-h-100 w-100 align-items-center">
        <div class="col-md-6 d-flex align-items-center order-md-1 order-2">
          <div>
            <h1 class="fs-1 title text-dark-color fw-bold lh-sm" data-aos="fade-right" data-aos-easing="ease-in-out"
              data-aos-duration="900">{{homeData?.title}}</h1>
            <p class="mt-4 fs-5-1 lh-base description ps-2" data-aos="fade-right" data-aos-easing="ease-in-out"
              data-aos-duration="1200">
              {{homeData?.description}}
            </p>
            <div class="d-flex align-items-center flex-wrap gap-sm-5 gap-3 mt-5">
              <ng-container *ngIf="!isLoggedIn">
                <a [routerLink]="'/auth/register'" class="btn btn-solid-main fs-5-1" data-aos="fade-up"
                  data-aos-easing="ease-in-out" data-aos-duration="1200">
                  {{'general.buyPolicy'|translate}}</a>
              </ng-container>
              <div class="d-flex align-items-center gap-2  text-main-color " data-aos="fade-up"
                data-aos-easing="ease-in-out" data-aos-duration="1300" (click)="openVideo()">
                <div class="play-icon rounded-circle d-flex justify-content-center align-items-center">
                  <i class="pi pi-play"></i>
                </div>
                <a>{{'home.watchDemo'|translate}}</a>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-6 order-md-2 order-1 pt-md-0 pt-5">
          <div class="d-flex justify-content-lg-end justify-content-center position-relative hero-layer">
            <div class="layer1" data-aos="zoom-in" data-aos-easing="ease-in-out" data-aos-duration="800">
              <img src="../../../assets/image/home/dots.svg" class="dots" alt="dot" data-aos="fade-zoom-in"
                data-aos-easing="ease-in-back" data-aos-delay="500" data-aos-offset="0">
            </div>
            <div class="layer2" data-aos="zoom-in-down" data-aos-easing="ease-in-out" data-aos-duration="700"
              data-aos-delay="500">
              <div class="layer3 position-absolute" data-aos="fade-down" data-aos-duration="500" data-aos-delay="800">
              </div>
            </div>
            <div class="position-absolute">
              <img src="assets/image/home/policy.svg" data-aos="fade-down" data-aos-duration="500" data-aos-delay="1000"
                alt="hero-img" class="hero-img mt-5">
            </div>
          </div>
        </div>
      </div>
      <div class="w-100 name" data-aos="fade-zoom-in" data-aos-easing="ease-in-back" data-aos-delay="500"
        data-aos-offset="0">
        {{'home.policy'|translate}}
      </div>
    </div>
  </section>
  <div data-aos="fade-up" data-aos-easing="ease-in-out">
    <div class="bg-name"></div>
    <section id="feature" class="pt-4  mb-5 d-flex align-items-center justify-content-center position-relative">
      <div class="vector-bg">
        <div class="container ">
          <h5 class="fs-5" data-aos="fade-right" data-aos-easing="ease-in-out" data-aos-duration="700">
            {{'home.features'|translate}}
          </h5>
          <h2 data-aos="fade-right" data-aos-easing="ease-in-out" data-aos-duration="800"
            class="fs-2 w-75 title text-white-color fw-bold">
            {{homeData?.featureTitle}}
          </h2>
          <div class="row">
            <ng-container *ngFor="let item of homeData?.features;let i=index">
              <div class="col-md-4 mb-4">
                <div class="global-card feature-content position-relative h-100" data-aos="fade-up"
                  data-aos-easing="ease-in-out" [attr.data-aos-duration]="((i+1)*200)+500">
                  <div class="position-absolute number-bg"></div>
                  <div class="d-flex justify-content-between align-items-center">
                    <h1 class="fs-lg dark-main-color">
                      0{{i+1}}
                    </h1>
                    <i class="pi pi-chart-bar fs-4 text-main-color"></i>
                  </div>
                  <h3 class="fs-4 mb-2">
                    {{item?.title}}
                  </h3>
                  <p class="text-muted lh-base fs-5-1">
                    {{item?.description}}
                  </p>
                </div>
              </div>
            </ng-container>
          </div>
        </div>
      </div>
    </section>
  </div>
  <section id="policy" class="position-relative">
    <div class="container">
      <div class="row justify-content-between align-items-center">
        <div class="col-md-6 position-relative">
          <div>
            <div data-aos="fade-right" data-aos-easing="ease-in-out" data-aos-duration="800">
              <img src="../../../../../assets/image/home/bg-red.svg" alt="policy"
                class="w-100 position-absolute policy-bg">
            </div>
            <img data-aos="fade-down" data-aos-easing="ease-in-out" data-aos-duration="8s00"
              [src]="homeData?.news?.policy" onerror="src='../../../../../assets/image/home/main-policy.png'"
              alt="policy" class="w-100 shadow policy-img">
          </div>
        </div>
        <div class="col-lg-5 col-md-6 mt-md-0 mt-5">
          <div class="bg-logo">
            <h2 class="fs-2 pt-md-0 pt-4" data-aos="fade-down" data-aos-easing="ease-in-out" data-aos-duration="800">
              {{homeData?.news?.title||''}}</h2>
            <p class="fs-5-1 mt-1 text-black-50" data-aos="fade-down" data-aos-easing="ease-in-out"
              data-aos-duration="900">{{homeData?.news?.description||''}}</p>
            <button data-aos="fade-down" data-aos-easing="ease-in-out" data-aos-duration="950"
              class="btn btn-solid-main d-flex align-items-center gap-3 mt-4" [routerLink]="['/about-us']">
              {{'general.readMore'|translate}}
              <i class="pi pi-arrow-right scaleX-rtl"></i>
            </button>
            <div class="mt-5 row gx-0 text-center" data-aos="fade-up" data-aos-easing="ease-in-out"
              data-aos-duration="900">
              <div class="col-6">
                <div class="border-bottom border-end py-3 ">
                  <h4 class="fs-1 warning-color">{{homeData?.news?.projectsDone||0}}</h4>
                  <p class="fs-5">{{'home.projectsDone'|translate}}</p>
                </div>
              </div>
              <div class="col-6">
                <div class="border-bottom py-3">
                  <h4 class="fs-1 confirm-color">{{homeData?.news?.consultants||0}}</h4>
                  <p class="fs-5">{{'home.consultants'|translate}}</p>
                </div>
              </div>
              <div class="col-6">
                <div class="border-end py-3">
                  <h4 class="fs-1 success-color">{{homeData?.news?.awardsWon||0}}</h4>
                  <p class="fs-5">{{'home.awardsWon'|translate}}</p>
                </div>
              </div>
              <div class="col-6">
                <div class="py-3">
                  <h4 class="fs-1 text-dark">{{homeData?.news?.happyClients||0}}</h4>
                  <p class="fs-5">{{'home.happyClients'|translate}}</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section id="services" ngClass="{{currentLanguage=='ar'?'service-bg-rtl':'service-bg'}}" class="py-5">
    <div class="container">
      <h5 class="fs-5 text-main-color" data-aos="fade-right" data-aos-easing="ease-in-out" data-aos-duration="700">
        {{'home.services'|translate}}
      </h5>
      <h2 data-aos="fade-right" data-aos-easing="ease-in-out" data-aos-duration="800"
        class="fs-2 w-75 title text-dark-color fw-bold">
        {{homeData?.featureTitle}}
      </h2>
      <div>
        <div class="mt-5 d-flex flex-wrap gap-3" data-aos="fade-right" data-aos-easing="ease-in-out"
          data-aos-duration="800">
          <ng-container *ngFor="let item of homeData?.services?.content;let i=index">
            <p-button (click)="activeIndex1 = i" styleClass="p-button-text d-flex align-items-center gap-2"
              [class.active]="activeIndex1 == i">
              <i class="pi pi-info-circle"></i>
              {{item?.title}}
            </p-button>
          </ng-container>
        </div>
        <div class="global-card mt-4 p-5 " data-aos="fade-up" data-aos-easing="ease-in-out" data-aos-duration="900">
          <p-tabView [(activeIndex)]="activeIndex1">
            <ng-container *ngFor="let item of homeData?.services?.content;let i=index">
              <p-tabPanel>
                <div class="row align-items-center">
                  <div class="col-md-6 order-md-1 order-2 mt-md-0 mt-4">
                    <div class="bg-logo">
                      <h2 class="fs-4" data-aos="fade-right" data-aos-easing="ease-in-out" data-aos-duration="900">
                        {{item?.service?.title}}
                      </h2>
                      <p class="mt-3" data-aos="fade-right" data-aos-easing="ease-in-out" data-aos-duration="900">
                        {{item?.service?.description}}
                      </p>
                      <div class="mt-4" data-aos="fade-right" data-aos-easing="ease-in-out" data-aos-duration="900">
                        <ng-container *ngFor="let item of item?.service?.details">
                          <span class="d-flex align-items-center gap-2 mb-2">
                            <i class="pi pi-check text-main-color"></i>
                            <p class="mb-0">{{item}} </p>
                          </span>
                        </ng-container>
                      </div>
                      <button data-aos="fade-up" data-aos-easing="ease-in-out" data-aos-duration="900"
                        class="btn btn-solid-main d-flex align-items-center gap-3 mt-4" [routerLink]="['/about-us']">
                        {{'general.moreDetails'|translate}}
                        <i class="pi pi-arrow-right scaleX-rtl"></i>
                      </button>
                    </div>
                  </div>
                  <div class="col-md-6 justify-content-end order-md-2 order-1">
                    <div class="d-flex justify-content-md-end justify-content-center position-relative"
                      data-aos="fade-left" data-aos-easing="ease-in-out" data-aos-duration="900">
                      <div class="w-75  position-absolute service-layer h-100"></div>
                      <img [src]="item?.service?.image" onerror="this.src='assets/image/not-found/no-img.svg'"
                        class="w-75 w-md-100 service-img shadow-sm" alt="">
                    </div>
                  </div>
                </div>
              </p-tabPanel>
            </ng-container>

            <!-- <p-tabPanel>
              cccccccc
            </p-tabPanel>
            <p-tabPanel>
              zzzzzzzzzz
            </p-tabPanel>
            <p-tabPanel>
              zzzzzzzzzzzz
            </p-tabPanel> -->
          </p-tabView>
        </div>
      </div>
    </div>
  </section>

  <section id="subscription" class="mt-5">
    <div class="container">
      <div class="p-4 content">
        <div class="row d-flex align-items-center bg-logo bg-logo2">
          <div class=" col-lg-6 col-md-8">
            <div class="mx-4">
              <h5 class="fs-4 fw-bold text-white-color d-flex justify-content-md-start justify-content-center mb-2"
                data-aos="fade-down" data-aos-easing="ease-in-out" data-aos-duration="800">
                {{'home.subscribe'|translate}}
              </h5>
              <p class="description fs-6 d-flex justify-content-md-start justify-content-center text-sm-center "
                data-aos="fade-down" data-aos-easing="ease-in-out" data-aos-duration="850">
                {{'home.subscribeDescription'|translate}}
              </p>
              <form class="d-flex position-relative mt-4" [formGroup]="form" (submit)="submit()" data-aos="fade-up"
                data-aos-easing="ease-in-out" data-aos-duration="900">
                <input class="form-control" type="email" placeholder="{{'placeholder.emailAddress'|translate}}"
                  formControlName="email">
                <button class="btn btn-solid-main p-2 btn-submit position-absolute" type="submit"
                  [disabled]="form?.invalid">
                  {{'general.submit'|translate}}</button>
              </form>

            </div>
          </div>
          <div class="col-lg-6 col-md-4 d-none d-md-block">
            <div class="ps-5 d-flex justify-content-end subscription-img" data-aos="fade-left"
              data-aos-easing="ease-in-out" data-aos-duration="900">
              <img src="../../../../../assets/image/home/subscription.svg" class="w-50 w-md-100 sub-img" alt="">
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>