<div class="dialog">

  <h1 class="fw-bold fs-4 py-2">
    {{'email-verfication.title'|translate}}
  </h1>
  <p class="text-secondary-color lh-base">
    {{'email-verfication.sub-title'|translate}}
    <span class="text-main-color fs-5">
      {{data.email}}
    </span>
  </p>

  <form [formGroup]="dialogform" (ngSubmit)="confirm()">

    <div class="d-flex align-items-center justify-content-center my-4">
      <input type="text" formControlName="code" class="form-control">
    </div>

    <h1 class="text-secondary-color d-flex align-items-center justify-content-end">
      <p>
        {{'email-verfication.sub-title2'|translate}}
      </p>
      <ng-container *ngIf="isWaiting">
        <a (click)="resendCode()" class="text-main-color mx-1">
          {{'email-verfication.resend'|translate}}
        </a>
      </ng-container>
      <ng-container *ngIf="!isWaiting">
        <app-countdown [customTitle]="minute" (emitServicePrice)="printTimeEnd($event)"></app-countdown>
      </ng-container>
    </h1>

    <button type="submit" class="btn btn-solid-main mt-4 w-100" [disabled]="dialogform?.invalid || isloadingBtn">
      {{'email-verfication.button'|translate}}
      <span class="spinner-border spinner-border-sm mx-1" role="status" aria-hidden="true" *ngIf="isloadingBtn"></span>
    </button>

  </form>

</div>

<ng-container *ngIf="isloading">
  <div class="overlay-spinner-loading d-flex justify-content-center align-items-center">
    <div class="spinner-grow" role="status">
    </div>
  </div>
</ng-container>
