<div class="general-modal">
  <div class="d-flex justify-content-between align-items-center">
    <h1 class="text-capitalize">
      {{'general.deactivate' | translate}}
    </h1>
    <a (click)="closeDialog()">
      <i class="fas fa-close btn-modal-close"></i>
    </a>
  </div>
  <hr />
  <form [formGroup]="deactiveForm" (ngSubmit)="submit()" class="form-content">

    <div class="mt-4">
      <div>
        <label class="form-label">
          {{'form.email'|translate}}
        </label>
        <input type="email" class="form-control" formControlName="email"
          [class.is-invalid]="(formControls.email.touched||formControls.email.dirty)&&formControls.email.invalid"
          [class.is-valid]="formControls.email.dirty&&formControls.email.valid">
      </div>
      <div class="mt-2">
        <div *ngIf="(formControls?.email?.touched || formControls?.email?.dirty) && formControls?.email?.invalid">
          <div *ngIf="formControls?.email?.errors?.['required']">
            <span class="text-danger fs-6">
              {{'validations.reuired_field'|translate}}
            </span>
          </div>
          <div *ngIf="formControls?.email?.errors?.['email']">
            <span class="text-danger fs-6">
              {{'validations.not_valid'|translate}}
            </span>
          </div>
        </div>
      </div>
    </div>
    <!-- <div class="mb-3">
      <div>
        <label for="exampleInputEmail1" class="form-label">
          {{'form.phone'|translate}}
        </label>
        <ngx-intl-tel-input
      class="form-control"
      [preferredCountries]="[CountryISO.UnitedStates, CountryISO.UnitedKingdom]"
      [enableAutoCountrySelect]="false"
      [enablePlaceholder]="true"
      [searchCountryFlag]="true"
      [searchCountryField]="[SearchCountryField.Iso2, SearchCountryField.Name]"
      [selectFirstCountry]="false"
      [selectedCountryISO]="CountryISO.Egypt"
      [maxLength]="15"
      [phoneValidation]="true"
      name="phone"
      formControlName="phone"
      [class.is-invalid]="(formControls?.['phone']?.touched || formControls?.['phone']?.dirty) && formControls?.['phone']?.invalid"
      [class.is-valid]="formControls?.['phone']?.dirty && formControls?.['phone']?.valid"
      >
      </ngx-intl-tel-input>
      </div>
      <div class="mt-2">
        <div *ngIf="(formControls?.phone?.touched || formControls?.phone?.dirty) && formControls?.phone?.invalid">
          <div *ngIf="formControls?.phone?.errors?.['required']">
            <p class="text-danger fs-6"> this is required</p>
          </div>
          <div *ngIf="formControls?.phone?.errors?.['minlength'] || formControls?.phone?.errors?.['maxlength']">
            <p class="text-danger fs-6"> phone must be between 6 and 20 numbers.</p>
          </div>
        </div>
      </div>
    </div> -->

    <div class="mt-4">
      <div class="d-flex justify-content-between">
        <label for="exampleInputPassword1" class="form-label">
          {{'form.password'|translate}}
        </label>
        <a routerLink="/auth/forget" class="text-secondary-color" (click)="closeDialog()">
          {{'form.forget_password'|translate}}
        </a>
      </div>

      <div class="input-group">
        <input [type]="showeye?'text':'password'" class="login-password-form form-control" id="exampleInputPassword1"
          formControlName="password"
          [class.is-invalid]="(formControls.password.touched||formControls.password.dirty)&&formControls.password.invalid"
          [class.is-valid]="formControls.password.dirty&&formControls.password.valid">
        <span class="togglepassword input-group-text bg-white-color" (click)="togglepassword()"
          [class.border-red]="(formControls.password.touched||formControls.password.dirty)&&formControls.password.invalid"
          [class.border-green]="formControls.password.dirty&&formControls.password.valid">
          <i class="bg-white-color" [class]="showeye?'fas fa-eye':'fas fa-eye-slash'"></i></span>
      </div>
      <div class="mt-2">
        <div
          *ngIf="(formControls?.password?.touched || formControls?.password?.dirty) && formControls?.password?.invalid">
          <div *ngIf="formControls?.password?.errors?.['required']">
            <span class="text-danger fs-6">
              {{'validations.reuired_field'|translate}}
            </span>
          </div>
          <div *ngIf="formControls?.password?.errors?.['minlength'] || formControls?.password?.errors?.['maxlength']">
            <span class="text-danger fs-6">
              {{'validations.pass_length'|translate}}
            </span>
          </div>
        </div>
      </div>
    </div>

    <div class="d-flex justify-content-end align-items-center gap-2 mt-4">
      <button type="submit" class="btn btn-solid-main mt-2" [disabled]="deactiveForm.invalid" (click)="signout()">
        {{'general.deactivate' | translate}}
      </button>
      <button class="btn btn-solid-second mt-2" (click)="closeDialog()">
        {{'general.cancel' | translate}}
      </button>
    </div>

  </form>
</div>
