.notifcation {
  .dropdown-menu {
    width: 28rem;
    top: 3.9rem;
    max-height: 70vh;
    overflow: hidden;
  }

  .notify-img {
    width: 3rem;
    height: 3rem;
  }

  .alert-img {
    width: 1.5rem;
    height: 1.5rem;
  }

  .alert-time {
    padding: 4px;
  }

  .view {
    border-top: 1px solid var(--gray-light);
  }

  .nav-item .active {
    color: var(--text-white-color) !important;
    border-bottom: 1px solid var(--text-white-color);
  }

  .nav-item button:hover {
    color: var(--gray-light);
  }

  .alerts-content,
  .logs-content {
    overflow-y: auto;
    max-height: 60vh !important;
    // margin: 5px;
  }
  ::-o-scrollbar-track {
    background: #f1f1f1;
  }

  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: var(--bg-main-color) !important;
    opacity: 0.7;
    border-radius: 10px;
  }
  .notifcation-header {
    // background-image: linear-gradient(45deg, var(--bg-main-color), var(--bg-second-color));
    background-color: var(--bg-second-color);
  }
  .badge-main {
    background-color: #fb211926;
    width: 25px;
    height: 25px;
  }
}
