<div class="notifcation general-dropdown" (clickOutside)="collapse == true ? collapse = false : collapse = false">
  <div class="dropdown">
    <button class="btn dropdown-toggle position-relative p-1 bg-white-color rounded-circle notify-img border-icon-menu"
      type="button" aria-expanded="false" [class.show]="collapse" (click)="toggleCollapse()">
      <svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" fill="#CBC" class="bi bi-bell custom-fas fa-color"
        viewBox="0 0 16 16">
        <path
          d="M8 16a2 2 0 0 0 2-2H6a2 2 0 0 0 2 2zM8 1.918l-.797.161A4.002 4.002 0 0 0 4 6c0 .628-.134 2.197-.459 3.742-.16.767-.376 1.566-.663 2.258h10.244c-.287-.692-.502-1.49-.663-2.258C12.134 8.197 12 6.628 12 6a4.002 4.002 0 0 0-3.203-3.92L8 1.917zM14.22 12c.223.447.481.801.78 1H1c.299-.199.557-.553.78-1C2.68 10.2 3 6.88 3 6c0-2.42 1.72-4.44 4.005-4.901a1 1 0 1 1 1.99 0A5.002 5.002 0 0 1 13 6c0 .88.32 4.2 1.22 6z" />
      </svg>

    </button>
    <ul class="dropdown-menu p-0 shadow border-0 rounded-25" aria-labelledby="dropdownMenuButton1"
      [class.show]="collapse">
      <div class="notifcation-header px-3 ">
        <h1 class="fs-4 text-main-color py-3 text-dir d-flex justify-content-between align-items-center">
          <span>{{'notifcation.not-title'|translate }}</span>
          <span class="gray-light fs-6 d-flex justify-content-center align-items-center badge-main rounded-circle">
            {{notificationsList?.length}}
          </span>
          <!-- {{'notifcation.not-title'|translate }}/ -->
        </h1>
      </div>

      <div class="logs-content ">
        <div class="list-group">
          <ng-container *ngFor="let item of notificationsList">
            <a class="border-bottom lh-lg p-3" aria-current="true">
              <div class="d-flex w-100  gap-2">
                <!-- <h5 class="mb-1">List group item heading</h5> -->
                <!-- <small>
                  {{time | timeago}}
                </small> -->
                <i class="pi pi-info-circle text-secondary-color mt-1"></i>
                <p class="text-muted lh-base">{{item?.title}}</p>
              </div>
            </a>
          </ng-container>
        </div>
      </div>

    </ul>
  </div>
</div>