<div class="polices-list py-small-2">
  <div class="container px-0">
    <div class="card-style rounded-25 px-4 py-3">
      <div
        class="header-polices-list d-flex align-items-center justify-content-between flex-column-md gap-medium-2 p-1 mt-3">
        <h1 class="fs-5 text-main-color">
          <span>
            {{'policies.policies' | translate}}
          </span>
          <span class="badge bg-second-color text-main-color rounded-pill">
            {{policiesList?.length || 0}}
          </span>
        </h1>
        <div class="search-table">
          <div class="input-group flex-nowrap">
            <span class="input-group-text input-group-text-L bg-white-color">
              <a (click)="applySearch($event)">
                <i class="fa fa-search fas fa-color"></i>
              </a>
            </span>
            <input type="text" class="form-control form-control-search-group" (keyup.enter)="applySearch($event)"
              [(ngModel)]="searchValue" placeholder="{{'general.search' | translate}}">
            <span class="input-group-text bg-white-color input-group-text-R">
              <a (click)="searchValue !==''?clearSearch():''">
                <i class="fa text-danger-color" [ngClass]="searchValue !==''?'fa-close':''"></i>
              </a>
            </span>
          </div>
        </div>
        <button class="btn btn-outline-main-header" [routerLink]="['/home/policies/policy-data']">
          <i class="fas fa-plus me-1"></i>
          {{'polices_list.new_policy' | translate}}
        </button>
      </div>
      <hr class="color-grey-400" />
      <div class="d-lg-flex d-md-block d-sm-flex align-items-center justify-content-end gap-2">
        <div class="d-flex justify-content-end gap-2">
          <button type="button"
            class="btn btn-solid-main btn-sm d-flex justify-content-between align-items-center gap-2"><span>{{'general.export'
              | translate}}</span> <i class="fas fa-file-export"></i></button>
          <button type="button"
            class="btn btn-outline-main btn-sm d-flex justify-content-between align-items-center gap-2"><span>{{'general.print'
              | translate}}</span> <i class="fas fa-print"></i></button>
        </div>
        <div class="d-flex justify-content-end gap-2 mt-lg-0 mt-2">
          <button type="button" class="btn btn-success btn-sm d-flex justify-content-between align-items-center"
            (click)="isWaitingAction?'':goToDetails()" [disabled]="false"><span>{{'general.edit' |
              translate}}</span> <i class="fas fa-pen"></i></button>
          <button type="button" class="btn btn-danger btn-sm d-flex justify-content-between align-items-center"
            (click)="isWaitingAction?'':onaDeleteItem()" [disabled]="!isSelect"><span>{{'general.delete' |
              translate}}</span> <i class="fas fa-close"></i></button>
        </div>
      </div>
      <div class="content-table mt-4">
        <table class="table color-grey-400 w-100">
          <thead class="bg-secondary-color text-white-color">
            <tr>
              <th><span class="cursor-pointer" *ngIf="isSelect" (click)="clearAllSelected()"><i
                    class="fas fa-close"></i></span></th>
              <th scope="col">
                <span class="d-flex align-items-center">
                  <span class="w-100 text-truncate">{{'polices_list.sale_id' | translate}}</span>
                  <div class="dropdown mx-1">
                    <button class="btn dropdown-toggle color-grey-400 p-0" type="button" id="select-dropdown"
                      data-bs-toggle="dropdown" aria-expanded="false">
                      <div class="d-flex">
                        <i class="fas fa-arrow-up text-white-color fs-dot-status"></i>
                        <i class="fas fa-arrow-down text-white-color fs-dot-status"></i>
                      </div>
                    </button>
                    <ul class="dropdown-menu shadow border-0">
                      <a (click)="isWaitingAction? '': ''">
                        <li
                          class="dropdown-item py-2 mb-2 d-flex align-items-center justify-content-between edit-hover">
                          <span class="text-muted">
                            {{'general.asc' | translate}}
                          </span>
                          <i class="fas fa-arrow-up text-muted"></i>
                        </li>
                      </a>
                      <a (click)="isWaitingAction? '': ''">
                        <li class="dropdown-item py-2 d-flex align-items-center justify-content-between delete-hover">
                          <span class="text-muted">
                            {{'general.desc' | translate}}
                          </span>
                          <i class="fas fa-arrow-down text-muted"></i>
                        </li>
                      </a>
                    </ul>
                  </div>
                </span>
              </th>
              <th scope="col">
                <span class="d-flex align-items-center">
                  <span class="w-100 text-truncate">{{'polices_list.customer_name' | translate}}</span>
                  <div class="dropdown mx-1">
                    <button class="btn dropdown-toggle color-grey-400 p-0" type="button" id="select-dropdown"
                      data-bs-toggle="dropdown" aria-expanded="false">
                      <div class="d-flex">
                        <i class="fas fa-arrow-up text-white-color fs-dot-status"></i>
                        <i class="fas fa-arrow-down text-white-color fs-dot-status"></i>
                      </div>
                    </button>
                    <ul class="dropdown-menu shadow border-0">
                      <a (click)="isWaitingAction? '': ''">
                        <li
                          class="dropdown-item py-2 mb-2 d-flex align-items-center justify-content-between edit-hover">
                          <span class="text-muted">
                            {{'general.asc' | translate}}
                          </span>
                          <i class="fas fa-arrow-up text-muted"></i>
                        </li>
                      </a>
                      <a (click)="isWaitingAction? '': ''">
                        <li class="dropdown-item py-2 d-flex align-items-center justify-content-between delete-hover">
                          <span class="text-muted">
                            {{'general.desc' | translate}}
                          </span>
                          <i class="fas fa-arrow-down text-muted"></i>
                        </li>
                      </a>
                    </ul>
                  </div>
                </span>
              </th>
              <th scope="col">
                <span class="d-flex align-items-center">
                  <span class="w-100 text-truncate">{{'polices_list.customer_id' | translate}}</span>
                  <div class="dropdown mx-1">
                    <button class="btn dropdown-toggle color-grey-400 p-0" type="button" id="select-dropdown"
                      data-bs-toggle="dropdown" aria-expanded="false">
                      <div class="d-flex">
                        <i class="fas fa-arrow-up text-white-color fs-dot-status"></i>
                        <i class="fas fa-arrow-down text-white-color fs-dot-status"></i>
                      </div>
                    </button>
                    <ul class="dropdown-menu shadow border-0">
                      <a (click)="isWaitingAction? '': ''">
                        <li
                          class="dropdown-item py-2 mb-2 d-flex align-items-center justify-content-between edit-hover">
                          <span class="text-muted">
                            {{'general.asc' | translate}}
                          </span>
                          <i class="fas fa-arrow-up text-muted"></i>
                        </li>
                      </a>
                      <a (click)="isWaitingAction? '': ''">
                        <li class="dropdown-item py-2 d-flex align-items-center justify-content-between delete-hover">
                          <span class="text-muted">
                            {{'general.desc' | translate}}
                          </span>
                          <i class="fas fa-arrow-down text-muted"></i>
                        </li>
                      </a>
                    </ul>
                  </div>
                </span>
              </th>
              <th scope="col">
                <span class="d-flex align-items-center">
                  <span class="w-100 text-truncate">{{'polices_list.establish_date' | translate}}</span>
                  <div class="dropdown mx-1">
                    <button class="btn dropdown-toggle color-grey-400 p-0" type="button" id="select-dropdown"
                      data-bs-toggle="dropdown" aria-expanded="false">
                      <div class="d-flex">
                        <i class="fas fa-arrow-up text-white-color fs-dot-status"></i>
                        <i class="fas fa-arrow-down text-white-color fs-dot-status"></i>
                      </div>
                    </button>
                    <ul class="dropdown-menu shadow border-0">
                      <a (click)="isWaitingAction? '': ''">
                        <li
                          class="dropdown-item py-2 mb-2 d-flex align-items-center justify-content-between edit-hover">
                          <span class="text-muted">
                            {{'general.asc' | translate}}
                          </span>
                          <i class="fas fa-arrow-up text-muted"></i>
                        </li>
                      </a>
                      <a (click)="isWaitingAction? '': ''">
                        <li class="dropdown-item py-2 d-flex align-items-center justify-content-between delete-hover">
                          <span class="text-muted">
                            {{'general.desc' | translate}}
                          </span>
                          <i class="fas fa-arrow-down text-muted"></i>
                        </li>
                      </a>
                    </ul>
                  </div>
                </span>
              </th>
              <th scope="col">
                <span class="d-flex align-items-center">
                  <span class="w-100 text-truncate">{{'polices_list.invoice_price' | translate}}</span>
                  <div class="dropdown mx-1">
                    <button class="btn dropdown-toggle color-grey-400 p-0" type="button" id="select-dropdown"
                      data-bs-toggle="dropdown" aria-expanded="false">
                      <div class="d-flex">
                        <i class="fas fa-arrow-up text-white-color fs-dot-status"></i>
                        <i class="fas fa-arrow-down text-white-color fs-dot-status"></i>
                      </div>
                    </button>
                    <ul class="dropdown-menu shadow border-0">
                      <a (click)="isWaitingAction? '': ''">
                        <li
                          class="dropdown-item py-2 mb-2 d-flex align-items-center justify-content-between edit-hover">
                          <span class="text-muted">
                            {{'general.asc' | translate}}
                          </span>
                          <i class="fas fa-arrow-up text-muted"></i>
                        </li>
                      </a>
                      <a (click)="isWaitingAction? '': ''">
                        <li class="dropdown-item py-2 d-flex align-items-center justify-content-between delete-hover">
                          <span class="text-muted">
                            {{'general.desc' | translate}}
                          </span>
                          <i class="fas fa-arrow-down text-muted"></i>
                        </li>
                      </a>
                    </ul>
                  </div>
                </span>
              </th>
              <th scope="col">
                <span class="d-flex align-items-center">
                  <span class="w-100 text-truncate">{{'general.duration' | translate}}</span>
                  <div class="dropdown mx-1">
                    <button class="btn dropdown-toggle color-grey-400 p-0" type="button" id="select-dropdown"
                      data-bs-toggle="dropdown" aria-expanded="false">
                      <div class="d-flex">
                        <i class="fas fa-arrow-up text-white-color fs-dot-status"></i>
                        <i class="fas fa-arrow-down text-white-color fs-dot-status"></i>
                      </div>
                    </button>
                    <ul class="dropdown-menu shadow border-0">
                      <a (click)="isWaitingAction? '': ''">
                        <li
                          class="dropdown-item py-2 mb-2 d-flex align-items-center justify-content-between edit-hover">
                          <span class="text-muted">
                            {{'general.asc' | translate}}
                          </span>
                          <i class="fas fa-arrow-up text-muted"></i>
                        </li>
                      </a>
                      <a (click)="isWaitingAction? '': ''">
                        <li class="dropdown-item py-2 d-flex align-items-center justify-content-between delete-hover">
                          <span class="text-muted">
                            {{'general.desc' | translate}}
                          </span>
                          <i class="fas fa-arrow-down text-muted"></i>
                        </li>
                      </a>
                    </ul>
                  </div>
                </span>
              </th>
              <th scope="col" class="px-3">
                <span class="d-flex align-items-center">
                  <span class="w-100 text-truncate">{{'general.status' | translate}}</span>
                  <div class="dropdown mx-1">
                    <button class="btn dropdown-toggle color-grey-400 p-0" type="button" id="select-dropdown"
                      data-bs-toggle="dropdown" aria-expanded="false">
                      <div class="d-flex">
                        <i class="fas fa-arrow-up text-white-color fs-dot-status"></i>
                        <i class="fas fa-arrow-down text-white-color fs-dot-status"></i>
                      </div>
                    </button>
                    <ul class="dropdown-menu shadow border-0">
                      <a (click)="isWaitingAction? '': ''">
                        <li
                          class="dropdown-item py-2 mb-2 d-flex align-items-center justify-content-between edit-hover">
                          <span class="text-muted">
                            {{'general.asc' | translate}}
                          </span>
                          <i class="fas fa-arrow-up text-muted"></i>
                        </li>
                      </a>
                      <a (click)="isWaitingAction? '': ''">
                        <li class="dropdown-item py-2 d-flex align-items-center justify-content-between delete-hover">
                          <span class="text-muted">
                            {{'general.desc' | translate}}
                          </span>
                          <i class="fas fa-arrow-down text-muted"></i>
                        </li>
                      </a>
                    </ul>
                  </div>
                </span>
              </th>
            </tr>
          </thead>
          <tbody>
            <ng-container *ngIf="policiesList?.length>0; else noData">
              <ng-container *ngFor="let item of policiesList; let i =index">
                <tr >
                  <td> <input class="form-check-input position-static cursor-pointer" type="radio"
                      [checked]="item.isSelect" (click)="selected(item,item?.id)">
                  </td>
                  <td>
                    {{i+1}}
                  </td>
                  <td>
                    {{item?.name}}
                  </td>
                  <td>
                    {{item?.id}}
                  </td>
                  <td class="w-100 text-nowrap">
                    {{item?.start_date | date: 'EE | yyyy-MM-dd'}}
                  </td>
                  <td>
                    {{item?.fees || ''}}
                  </td>
                  <td>
                    {{item?.duration||''}}/{{item?.duration_type||''}}
                  </td>
                  <td>
                    <span class="d-inline-block w-100 text-truncate">
                      <i class=" fas fa-circle fs-dot-status" [class]="item?.class||''"></i>
                      <span class="w-100 text-truncate px-1">
                        {{item?.status||''}}
                      </span>
                    </span>
                  </td>
                </tr>
              </ng-container>

            </ng-container>
            <ng-template #noData>
              <tr>
                <td colspan="8" class="text-center py-4">
                   <div class="py-5">
                    <img src="assets/image/not-found.png" alt="not-found" width="100px">
                   </div>
                </td>
              </tr>
            </ng-template>
          </tbody>
        </table>
      </div>
      <div *ngIf="policiesList?.length>pageSize" class="d-flex justify-content-center mt-5 mb-2">
        <ngb-pagination [collectionSize]="policiesList?.length" [pageSize]="pageSize" [(page)]="currentPage"
          [maxSize]="3" (pageChange)="onChange($event)" [rotate]="true" [ellipses]="true" [boundaryLinks]="true">
        </ngb-pagination>
      </div>
    </div>
  </div>
  <ng-container *ngIf="isLoading">
    <div class="spinner d-flex justify-content-center align-items-center h-100">
      <div class="spinner-grow text-secondary" role="status">
        <span class="visually-hidden">Loading...</span>
      </div>
      <div class="spinner-grow text-secondary" role="status">
        <span class="visually-hidden">Loading...</span>
      </div>
      <div class="spinner-grow text-secondary" role="status">
        <span class="visually-hidden">Loading...</span>
      </div>
    </div>
  </ng-container>
