<div class="polices-list py-small-2 pt-sec">
  <div class="container pt-3">
    <div class=" rounded-25 px-4 py-3">
      <div
        class="header-polices-list d-flex align-items-center justify-content-between flex-column-md gap-medium-2  mt-3 mb-4">
        <div class="d-flex gap-2 align-items-center">
          <h1 class=" fs-4">
            <span>
              {{'policies.policies' | translate}}
            </span>
          </h1>
          <ng-container *ngIf="policiesList?.length">
            <span class="badge-main">
              {{policiesList?.length || 0}}
            </span>
          </ng-container>
        </div>
        <!-- <div class="search-table">
          <div class="input-group flex-nowrap">
            <span class="input-group-text input-group-text-L bg-white-color">
              <a (click)="applySearch($event)">
                <i class="fa fa-search fas fa-color"></i>
              </a>
            </span>
            <input type="text" class="form-control form-control-search-group" (keyup.enter)="applySearch($event)"
              [(ngModel)]="searchValue" placeholder="{{'general.search' | translate}}">
            <span class="input-group-text bg-white-color input-group-text-R">
              <a (click)="searchValue !==''?clearSearch():''">
                <i class="fa text-danger-color" [ngClass]="searchValue !==''?'fa-close':''"></i>
              </a>
            </span>
          </div>
        </div> -->

        <div class="d-flex gap-3">
          <span class="p-input-icon-right">
            <ng-container *ngIf="loadingSearch">
              <i class="pi pi-spin pi-spinner"></i>
            </ng-container>
            <ng-container *ngIf="!loadingSearch&&searchValue !==''">
              <i (click)="searchValue !==''?clearSearch():''" class="fa text-danger pointer"
                [ngClass]="searchValue !==''?'fa-close':''"></i>
            </ng-container>

            <span class="p-input-icon-left">
              <i class="pi pi-search"></i>
              <input pInputText type="text" [(ngModel)]="searchValue" class="search-input" #search
                (keyup.enter)="applySearch($event)" placeholder="{{'general.search' | translate}}" />
            </span>
          </span>
          <button class="btn btn-solid-main d-flex align-items-center gap-2"
            [routerLink]="['/policies/add-edit-policy']">
            <i class="fas fa-plus"></i>
            {{'polices_list.new_policy' | translate}}
          </button>
        </div>
      </div>
      <app-dynamic-table [isLoading]="isLoading" [showCaption]="true" [showClear]="true"
        [isLoadingSearch]="isLoadingSearch" (clearHandler)="enableSortFilter?clearTable($event):''"
        [tableHeaders]="tableHeaders" [tableData]="policiesList" [enableDateFormate]="true"
        [dateFormateString]="'EE | dd/MM/YYYY'" [showActions]="true" [showEdit]="true" [showDelete]="true"
        [showPrint]="true" (editHandler)="goToDetails($event)" (printHandler)="print($event)"
        (deleteHandler)="onaDeleteItem($event)" (customSortHandler)="enableSortFilter?sortItems($event):''"
        [isSearch]="isSearch" [arrayChildKey]="'name'" (printTableHandler)="printTable($event)"
        (downloadFileHandler)="downloadFile()"></app-dynamic-table>

      <ng-container *ngIf="policiesList?.length>pageSize">
        <div class="d-flex justify-content-center mt-5 mb-4">
          <ngb-pagination [collectionSize]="policiesList?.length" [pageSize]="pageSize" [(page)]="currentPage"
            [maxSize]="3" (pageChange)="onChange($event)" [rotate]="true" [ellipses]="true" [boundaryLinks]="true">
          </ngb-pagination>
        </div>
      </ng-container>

    </div>
  </div>