.polices-list {
  min-height: 100vh;
  background-color: #fb211905;

  table {
    border-radius: 0.3rem !important;
    overflow: hidden;
  }

  .content-table {
    overflow-x: scroll;
  }

  table {
    min-width: 61rem;

    td {
      padding: 0 !important;
      margin: 0 !important;
      border-bottom: 1px solid var(--border-input-color);
    }
  }

  table > :not(caption) > * > * {
    padding: 1rem !important;
    font-size: 0.95rem;
    height: 3rem;
  }

  .switch {
    width: 40px !important;
    height: 25px;
  }

  .switch:focus,
  .check:focus {
    box-shadow: none;
  }

  .switch:focus,
  .check:focus {
    box-shadow: none;
  }

  .switch:checked {
    background-color: var(--success-color) !important;
    border: 1px solid var(--success-color) !important;
  }

  .switch:focus,
  .check:focus {
    box-shadow: none;
  }

  .form-check-input:checked {
    background-color: var(--bg-main-color);
    border: 1px solid var(--text-main-color) !important;
  }

  li.delete-hover:hover {
    a {
      color: red !important;
    }

    i {
      color: red !important;
    }
  }

  li.edit-hover:hover {
    a {
      color: blue !important;
    }

    i {
      color: blue !important;
    }
  }

  li.view-hover:hover {
    a {
      color: lightblue !important;
    }

    i {
      color: lightblue !important;
    }
  }

  span.align-super {
    vertical-align: super !important;
  }
}
.spinner {
  height: calc(100vh - 142px) !important;
  .spinner-grow {
    width: 1.2rem !important;
    height: 1.2rem !important;
    margin: 0 2px;
  }
}
.search-input,
.search-input:enabled:focus,
.p-inputtext:enabled:hover {
  height: 3.8rem !important;
  border: 1px solid #dedede !important;
  background-color: var(--bg-white-color) !important;
  width: 18rem !important;
  border-radius: var(--border-radius-card) !important;
}
.btn-solid-main {
  border-radius: var(--border-radius-card) !important;
}
