<div class="checkout">
  <div class="checkout-card p-4">
    <div class="d-flex justify-content-between align-items-center">
      <h1 class="fs-5 text-center-small text-muted">
        <!-- {{'policies.policy_data' | translate}} -->
        ddd
      </h1>
      <span>
        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="#6c757d"
          class="scaleX-rtl bi bi-info-circle" viewBox="0 0 16 16">
          <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z" />
          <path
            d="m8.93 6.588-2.29.287-.082.38.45.083c.294.07.352.176.288.469l-.738 3.468c-.194.897.105 1.319.808 1.319.545 0 1.178-.252 1.465-.598l.088-.416c-.2.176-.492.246-.686.246-.275 0-.375-.193-.304-.533L8.93 6.588zM9 4.5a1 1 0 1 1-2 0 1 1 0 0 1 2 0z" />
        </svg>
      </span>
    </div>
    <hr class="text-secondary-color mt-3" />
    <div class="content">
      <div class="d-flex align-items-center justify-content-end mt-5">
        <div class="d-flex align-items-center">
          <button class="btn btn-solid-second me-2" (click)="back()">
            <!-- {{'general.cancel' | translate}} -->
            lll
          </button>
          <button class="btn btn-solid-main me-2" type="submit">
            <!-- {{'general.next' | translate}} -->
            kk
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
