<div id="add-edit-policy" class="pt-sec">
  <div class="container pt-5 pb-4">
    <div class="mb-3">
      <a (click)="goBack(stepper)" class="d-flex align-items-center gap-3 text-main-color fw-bold"><i
          class="pi pi-arrow-left scaleX-rtl"></i>
        <ng-container *ngIf="stepper.selectedIndex == 0 ; else back">
          <a class="text-main-color" [routerLink]="'/policies/list'"><span>
              {{'policesList.backToList'|translate}}
            </span></a>
        </ng-container>
        <ng-template #back>
          <a class="text-main-color" (click)="goBack(stepper)"><span>
              {{'general.back'|translate}}
            </span></a>
        </ng-template>
      </a>
      <h3 class="fw-bold mt-3 fs-3">
        <ng-container *ngIf="isEdit; else addPolicy">
          {{'policesList.editPolicy'|translate}}
        </ng-container>
        <ng-template #addPolicy>
          {{'policesList.addNewPolicy'|translate}}
        </ng-template>
      </h3>
    </div>
    <mat-stepper labelPosition="bottom" #stepper [linear]="!isEdit && stepper.selectedIndex==0 || !this.policyId"
      ngClass="{{ 'last-edited-step-' + stepper.selectedIndex }}">
      <ng-template matStepperIcon="edit" let-index="index">
        {{index+1}}
      </ng-template>

      <mat-step label="Step 1" [stepControl]="personalInfoForm">
        <ng-template matStepLabel> {{'policesList.personalInfo'|translate}}
        </ng-template>
        <ng-container *ngIf="!isLoading;else loading">
          <div class="row mt-lg-0 mt-4">
            <div class="col-md-8" [class.col-md-12]="!isEdit">
              <div class="global-card">
                <h5 class="mb-3 fs-5">{{'form.profile_image'|translate}}</h5>
                <app-upload-file (uploadHandler)="uploadImage($event)" (uploadHandler)="uploadImage($event)"
                  (uploadFile)="uploadFile($event)" [image]="imageNameString" [isEdit]="isEditImage"
                  [showImage]="showImage" [name]="imageName"></app-upload-file>
              </div>
            </div>
            <ng-container *ngIf="isEdit">
              <div class="col-md-4 mt-md-0 mt-4">
                <div class="global-card h-100">
                  <div class="policy-id h-100 p-4 d-flex align-items-center justify-content-center gap-2 flex-column">
                    <h4 class="fs-4">
                      {{'general.id'|translate}}
                    </h4>
                    <p class="fs-1 fw-bold">{{policyData?.id}}</p>
                  </div>
                </div>
              </div>
            </ng-container>
          </div>
          <form [formGroup]="personalInfoForm">
            <div class="row mt-4">
              <div class="col-12">
                <div class="global-card">
                  <div class="row">
                    <div class="col-md-6 col-sm-12 col-12">
                      <div class="mb-4">
                        <div>
                          <label class="form-label required">
                            {{'form.name'|translate}}
                          </label>
                          <input type="text" class="form-control" formControlName="name"
                            placeholder="{{'placeholder.name' | translate}}"
                            [class.is-invalid]="(formControls?.['name']?.touched ||formControls?.['name']?.dirty) && formControls?.['name']?.invalid"
                            (input)="publicService?.clearValidationErrors(formControls?.name)">
                        </div>
                        <ng-container
                          *ngIf="(formControls?.name?.touched || formControls?.name?.dirty) && formControls?.name?.invalid">
                          <div class="mt-2">
                            <ng-container *ngIf="formControls?.name?.errors?.['required']">
                              <span class="text-danger fs-6">
                                {{'validations.requiredField'|translate}}
                              </span>
                            </ng-container>
                            <div
                              *ngIf="formControls?.name?.errors?.['minlength'] || formControls?.name?.errors?.['maxlength']">
                              <span class="text-danger fs-6">
                                {{'validations.nameLength'|translate}}
                              </span>
                            </div>
                          </div>
                        </ng-container>
                      </div>
                    </div>
                    <div class="col-md-6 col-sm-12 col-12">
                      <div class="mb-4">
                        <div>
                          <label for="exampleFormControlInput1" class="form-label required">
                            {{"form.date_of_birth"|translate}}
                          </label>
                          <div
                            [class.border-red]="formControls?.birthdate?.invalid && (formControls?.birthdate?.dirty || formControls?.birthdate?.touched)">
                            <p-calendar formControlName="birthdate" [showIcon]="true" inputId="icon" [maxDate]="maxDob"
                              placeholder="DD/MM/YYYY" appendTo="body" [showButtonBar]="true" dateFormat="dd/mm/yy"
                              hourFormat="12"></p-calendar>
                          </div>
                        </div>
                        <ng-container
                          *ngIf="(formControls?.['birthdate']?.touched ||formControls?.['birthdate']?.dirty) && formControls?.['birthdate']?.invalid ">
                          <div class="mt-2">
                            <div *ngIf="formControls?.birthdate?.errors?.['required']">
                              <span class="text-danger fs-6">
                                {{'validations.requiredField'|translate}}
                              </span>
                            </div>
                          </div>
                        </ng-container>
                      </div>
                    </div>
                    <div class="col-md-6 col-sm-12 col-12">
                      <div class="mb-4">
                        <div>
                          <label class="form-label required">
                            {{'form.email'|translate}}
                          </label>
                          <input type="email" class="form-control" formControlName="email"
                            placeholder="{{'placeholder.email' | translate}}"
                            [class.is-invalid]="(formControls?.['email']?.touched ||formControls?.['email']?.dirty) && formControls?.['email']?.invalid"
                            (input)="publicService?.clearValidationErrors(formControls?.email)">
                        </div>
                        <ng-container
                          *ngIf="(formControls?.['email']?.touched ||formControls?.['email']?.dirty) && formControls?.['email']?.invalid ">
                          <div class="mt-2">
                            <div *ngIf="formControls?.email?.errors?.['required']">
                              <span class="text-danger fs-6">
                                {{'validations.requiredField'|translate}}
                              </span>
                            </div>
                            <ng-container *ngIf="formControls?.email?.errors?.pattern">
                              <span class="text-danger fs-6">
                                {{'validations.notValid'|translate}}
                              </span>
                            </ng-container>
                          </div>
                        </ng-container>
                      </div>
                    </div>
                    <div class="col-md-6 col-sm-12 col-12">
                      <div class="mb-4">
                        <div>
                          <label class="form-label required">
                            {{'form.nationality'|translate}}
                          </label>
                          <div
                            [class.border-red]="formControls?.nationality?.invalid && (formControls?.nationality?.dirty || formControls?.nationality?.touched)">
                            <p-dropdown [options]="pageData?.countries" formControlName="nationality" optionLabel="name"
                              [filter]="true" [virtualScroll]="true" [virtualScrollItemSize]="38" filterBy="name"
                              appendTo="body" scrollHeight="200px"
                              emptyMessage="{{'general.no_result_found'|translate}}" [showClear]="true"
                              filterPlaceholder="{{'general.search' | translate}}"
                              placeholder="{{'general.select' | translate}}">
                            </p-dropdown>
                          </div>
                        </div>
                        <ng-container
                          *ngIf="(formControls?.nationality?.touched || formControls?.nationality?.dirty) && formControls?.nationality?.invalid">
                          <div class="mt-2">
                            <ng-container *ngIf="formControls?.nationality?.errors?.['required']">
                              <span class="text-danger fs-6">
                                {{'validations.requiredField'|translate}}
                              </span>
                            </ng-container>
                          </div>
                        </ng-container>
                      </div>
                    </div>
                    <div class="col-md-6 col-sm-12 col-12">
                      <div class="mb-4">
                        <div>
                          <label class="form-label required">
                            {{'general.gender'|translate}}
                          </label>
                          <div
                            [class.border-red]="formControls?.gender?.invalid && (formControls?.gender?.dirty || formControls?.gender?.touched)">
                            <p-dropdown [options]="genders" formControlName="gender" optionLabel="value"
                              [filter]="false" [virtualScroll]="true" [virtualScrollItemSize]="38" filterBy="value"
                              appendTo="body" scrollHeight="200px"
                              emptyMessage="{{'general.no_result_found'|translate}}" [showClear]="true"
                              filterPlaceholder="{{'general.search' | translate}}"
                              placeholder="{{'general.select' | translate}}">
                            </p-dropdown>
                          </div>
                        </div>
                        <ng-container
                          *ngIf="(formControls?.gender?.touched || formControls?.gender?.dirty) && formControls?.gender?.invalid">
                          <div class="mt-2">
                            <ng-container *ngIf="formControls?.gender?.errors?.['required']">
                              <span class="text-danger fs-6">
                                {{'validations.requiredField'|translate}}
                              </span>
                            </ng-container>
                          </div>
                        </ng-container>
                      </div>
                    </div>
                    <div class="col-md-6 col-sm-12 col-12">
                      <div class="mb-4">
                        <div>
                          <label class="form-label required">
                            {{'form.address'|translate}}
                          </label>
                          <input type="text" class="form-control" formControlName="address"
                            placeholder="{{'placeholder.address' | translate}}"
                            [class.is-invalid]="(formControls?.['address']?.touched ||formControls?.['address']?.dirty) && formControls?.['address']?.invalid"
                            (input)="publicService?.clearValidationErrors(formControls?.address)">
                        </div>
                        <ng-container
                          *ngIf="(formControls?.address?.touched || formControls?.address?.dirty) && formControls?.address?.invalid">
                          <div class="mt-2">
                            <ng-container *ngIf="formControls?.address?.errors?.['required']">
                              <span class="text-danger fs-6">
                                {{'validations.requiredField'|translate}}
                              </span>
                            </ng-container>
                            <ng-container
                              *ngIf="formControls?.address?.errors?.['minlength'] || formControls?.address?.errors?.['maxlength']">
                              <span class="text-danger fs-6">
                                {{'validations.address_length'|translate}}
                              </span>
                            </ng-container>
                          </div>
                        </ng-container>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </form>
        </ng-container>
        <ng-template #loading>
          <app-skeleton [type]="'add-edit-policy'"></app-skeleton>
        </ng-template>
      </mat-step>
      <mat-step label="Step 2" [stepControl]="policyForm">
        <ng-template matStepLabel> {{'policesList.policyInfo'|translate}}
        </ng-template>
        <div class="policy-step mt-lg-0 mt-4">
          <form [formGroup]="policyForm">
            <div class="row">
              <div class="col-md-6">
                <div class="global-card">
                  <h5 class="mb-3 fs-5">{{'form.passport_image'|translate}}</h5>
                  <app-upload-file (uploadHandler)="uploadPassportImage($event)" [image]="imagePassportNameString"
                    (uploadFile)="uploadPassportFile($event)" [isEdit]="isEditPassportImage"
                    [showImage]="showPassportImage" [name]="imageName"></app-upload-file>
                </div>
                <div class="global-card mt-4">
                  <div class="col-sm-12 col-12">
                    <div class="mb-4">
                      <div>
                        <label class="form-label required">
                          {{'form.passport_num'|translate}}
                        </label>
                        <input type="text" min="1" class="form-control" formControlName="pass_num"
                          [class.is-invalid]="(policyFormControls?.['pass_num']?.touched || policyFormControls?.['pass_num']?.dirty) && policyFormControls?.['pass_num']?.invalid"
                          placeholder="{{'placeholder.pass_num' | translate}}">
                      </div>
                      <ng-container
                        *ngIf="(policyFormControls?.['pass_num']?.touched || policyFormControls?.['pass_num']?.dirty) && policyFormControls?.['pass_num']?.invalid">
                        <div class="mt-2">
                          <ng-container *ngIf="policyFormControls?.['pass_num']?.errors?.['required']">
                            <span class="text-danger fs-6">
                              {{'validations.requiredField'|translate}}
                            </span>
                          </ng-container>
                          <ng-container *ngIf="policyFormControls?.['pass_num']?.errors?.['pattern']">
                            <span class="text-danger fs-6">
                              {{'validations.pass_num_pattern'|translate}}
                            </span>
                          </ng-container>
                        </div>
                      </ng-container>
                    </div>
                  </div>
                  <div class="col-sm-12 col-12">
                    <div class="mb-4">
                      <div>
                        <label for="exampleFormControlInput1" class="form-label required">
                          {{"general.start_date"|translate}}
                        </label>
                        <div
                          [class.border-red]="policyFormControls?.start_date?.invalid && (policyFormControls?.start_date?.dirty || policyFormControls?.start_date?.touched)">
                          <p-calendar formControlName="start_date" [showIcon]="true" inputId="icon"
                            [minDate]="todayDate" placeholder="{{'placeholder.start_date' | translate}}" appendTo="body"
                            [showButtonBar]="true" dateFormat="dd/mm/yy" hourFormat="12"></p-calendar>
                        </div>
                      </div>
                      <div class="mt-2">
                        <div
                          *ngIf="(policyFormControls?.['start_date']?.touched ||policyFormControls?.['start_date']?.dirty) && policyFormControls?.['start_date']?.invalid">
                          <div *ngIf="policyFormControls?.start_date?.errors?.['required']">
                            <span class="text-danger fs-6">
                              {{'validations.requiredField'|translate}}
                            </span>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-sm-12 col-12">
                    <div class="mb-4">
                      <div>
                        <label class="form-label required">
                          {{'general.job'|translate}}
                        </label>
                        <div
                          [class.border-red]="policyFormControls?.job?.invalid && (policyFormControls?.job?.dirty || policyFormControls?.job?.touched)">
                          <p-dropdown [options]="pageData?.jobs" formControlName="job" optionLabel="name"
                            [filter]="true" [virtualScroll]="true" [virtualScrollItemSize]="38" filterBy="name"
                            appendTo="body" scrollHeight="200px" emptyMessage="{{'general.no_result_found'|translate}}"
                            [showClear]="true" filterPlaceholder="{{'general.search' | translate}}"
                            placeholder="{{'general.select' | translate}}">
                          </p-dropdown>
                        </div>
                      </div>
                      <div class="mt-2">
                        <div
                          *ngIf="(policyFormControls?.job?.touched || policyFormControls?.job?.dirty) && policyFormControls?.job?.invalid">
                          <div *ngIf="policyFormControls?.job?.errors?.['required']">
                            <span class="text-danger fs-6">
                              {{'validations.requiredField'|translate}}
                            </span>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-md-6 mt-md-0 mt-4">
                <div class="global-card">
                  <div class="mb-4">
                    <div>
                      <label class="form-label required">
                        {{'form.durationType'|translate}}
                      </label>
                      <div class="d-flex align-items-center gap-3">
                        <div class="d-flex align-items-center gap-2">
                          <input class="form-check-input pointer" type="radio" value="day" id="durationType"
                            formControlName="duration_type">
                          <label class="form-check-label mt-1 pointer lh-sm" for="durationType">
                            <span class="fs-7">
                              {{'general.day' | translate}}
                            </span>
                          </label>
                        </div>
                        <div class="d-flex align-items-center gap-2">
                          <input class="form-check-input pointer" type="radio" value="month" id="durationType"
                            formControlName="duration_type">
                          <label class="form-check-label mt-1 pointer lh-sm" for="durationType">
                            <span class="fs-7">
                              {{'general.month' | translate}}
                            </span>
                          </label>
                        </div>
                        <div class="d-flex align-items-center gap-2">
                          <input class="form-check-input pointer" type="radio" value="year" id="durationType"
                            formControlName="duration_type">
                          <label class="form-check-label mt-1 pointer lh-sm" for="durationType">
                            <span class="fs-7">
                              {{'general.year' | translate}}
                            </span>
                          </label>
                        </div>
                      </div>
                      <ng-container
                        *ngIf="(policyFormControls?.['duration_type']?.touched || policyFormControls?.['duration_type']?.dirty) && policyFormControls?.['duration_type']?.invalid">
                        <div class="mt-2">
                          <ng-container *ngIf="policyFormControls?.['duration_type']?.errors?.['required']">
                            <span class="text-danger fs-6">
                              {{'validations.requiredField'|translate}}
                            </span>
                          </ng-container>
                        </div>
                      </ng-container>
                    </div>
                  </div>
                  <ng-container *ngIf="policyForm?.value?.duration_type">
                    <div class="col-sm-12 col-12">
                      <div class="mb-4">
                        <div>
                          <label class="form-label required">
                            {{'form.duration'|translate}}
                          </label>
                          <div class="input-group"
                            [class.border-red]="(policyFormControls?.['duration']?.touched ||policyFormControls?.['duration']?.dirty) && policyFormControls?.['duration']?.invalid">
                            <p-inputNumber [min]="1" formControlName="duration"
                              placeholder="{{'placeholder.duration' | translate}}" inputId="mile"
                              suffix=" {{policyForm?.value?.duration_type}}"
                              (onInput)="publicService?.clearValidationErrors(policyFormControls?.duration)">
                            </p-inputNumber>
                          </div>
                        </div>
                        <ng-container
                          *ngIf="(policyFormControls?.['duration']?.touched ||policyFormControls?.['duration']?.dirty) && policyFormControls?.['duration']?.invalid">
                          <div class="mt-2">
                            <div *ngIf="policyFormControls?.duration?.errors?.['required']">
                              <span class="text-danger fs-6">
                                {{'validations.requiredField'|translate}}
                              </span>
                            </div>
                          </div>
                        </ng-container>
                      </div>
                    </div>
                  </ng-container>
                  <div class="col-sm-12 col-12">
                    <div class="mb-4">
                      <div>
                        <label class="form-label required">
                          {{'form.phone'|translate}}
                        </label>
                        <div [class.border-red-phone]="policyFormControls?.phone?.invalid && (policyFormControls?.phone?.dirty || policyFormControls?.phone?.touched
      )">
                          <ngx-intl-tel-input class="intel-tel-input px-1" [preferredCountries]="[
            CountryISO.UnitedStates,
            CountryISO.Egypt
          ]" [enableAutoCountrySelect]="true" [enablePlaceholder]="true" [searchCountryFlag]="true"
                            [searchCountryField]="[SearchCountryField.Iso2, SearchCountryField.Name]"
                            [selectFirstCountry]="true" [selectedCountryISO]="CountryISO.Egypt" [maxLength]="15"
                            [phoneValidation]="true" [separateDialCode]="true" name="phone"
                            (countryChange)="policyFormControls?.phone?.reset()" formControlName="phone"
                            (input)="publicService?.clearValidationErrors(policyFormControls?.phone)"
                            autocomplete="cc-name">
                          </ngx-intl-tel-input>
                        </div>
                      </div>
                      <ng-container
                        *ngIf="(policyFormControls?.['phone']?.touched || policyFormControls?.['phone']?.dirty) && policyFormControls?.['phone']?.invalid">
                        <div class="mt-2">
                          <ng-container *ngIf="policyFormControls?.['phone']?.errors?.['required']">
                            <span class="text-danger fs-6">
                              {{'validations.requiredField'|translate}}
                            </span>
                          </ng-container>
                          <ng-container *ngIf="policyFormControls?.phone?.errors?.validatePhoneNumber">
                            <span class="text-danger fs-8">
                              {{'validations.phoneNotCorrect'|translate}}
                            </span>
                          </ng-container>
                        </div>
                      </ng-container>
                    </div>
                  </div>
                  <div class="col-sm-12 col-12">
                    <div class="mb-4">
                      <div>
                        <label class="form-label">
                          {{'form.alt_phone'|translate}}
                        </label>
                        <div [class.border-red-phone]="policyFormControls?.alt_phone?.invalid && (policyFormControls?.alt_phone?.dirty || policyFormControls?.alt_phone?.touched
      )">
                          <ngx-intl-tel-input class="intel-tel-input px-1" [preferredCountries]="[
            CountryISO.UnitedStates,
            CountryISO.Egypt
          ]" [enableAutoCountrySelect]="true" [enablePlaceholder]="true" [searchCountryFlag]="true"
                            [searchCountryField]="[SearchCountryField.Iso2, SearchCountryField.Name]"
                            [selectFirstCountry]="true" [selectedCountryISO]="CountryISO.Egypt" [maxLength]="15"
                            [phoneValidation]="true" [separateDialCode]="true" name="alt_phone"
                            (countryChange)="policyFormControls?.alt_phone?.reset()" formControlName="alt_phone"
                            (input)="publicService?.clearValidationErrors(policyFormControls?.alt_phone)"
                            autocomplete="cc-name">
                          </ngx-intl-tel-input>
                        </div>
                      </div>
                      <ng-container
                        *ngIf="(policyFormControls?.['alt_phone']?.touched || policyFormControls?.['alt_phone']?.dirty) && policyFormControls?.['alt_phone']?.invalid">
                        <div class="mt-2">
                          <ng-container *ngIf="policyFormControls?.['alt_phone']?.errors?.['required']">
                            <span class="text-danger fs-6">
                              {{'validations.requiredField'|translate}}
                            </span>
                          </ng-container>
                          <ng-container *ngIf="policyFormControls?.alt_phone?.errors?.validatePhoneNumber">
                            <span class="text-danger fs-8">
                              {{'validations.phoneNotCorrect'|translate}}
                            </span>
                          </ng-container>
                        </div>
                      </ng-container>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </form>
        </div>
      </mat-step>
      <mat-step label="Step 3" [stepControl]="medicalForm">
        <ng-template matStepLabel> {{'policesList.medicalReports'|translate}}
        </ng-template>
        <div class="medical-step mt-lg-0 mt-4">
          <form [formGroup]="medicalForm">
            <div class="row">
              <div class="col-md-6">
                <div class="global-card h-100">
                  <div class="d-flex flex-column gap-2 p-3 border-dashed rounded-25 mb-3">
                    <label class="form-label mb-2 required">
                      {{'form.virus_c'|translate}}
                    </label>
                    <mat-radio-group formControlName="virus_c">
                      <mat-radio-button [value]="1" class="me-2">
                        {{'general.yes' | translate}}
                      </mat-radio-button>
                      <mat-radio-button [value]="0">
                        {{'general.no' | translate}}
                      </mat-radio-button>
                    </mat-radio-group>
                    <ng-container
                      *ngIf="(medicalFormControls?.virus_c?.touched ||medicalFormControls?.virus_c?.dirty) && medicalFormControls?.virus_c?.invalid ">
                      <div class="mt-2">
                        <ng-container *ngIf="medicalFormControls?.virus_c?.errors?.['required']">
                          <span class="text-danger fs-6">
                            {{'validations.requiredField'|translate}}
                          </span>
                        </ng-container>
                      </div>
                    </ng-container>
                  </div>
                  <div class="d-flex flex-column gap-2 p-3 border-dashed rounded-25 mb-3">
                    <label class="form-label mb-2 required">
                      {{'form.virus_corona'|translate}}
                    </label>
                    <mat-radio-group formControlName="virus_corona">
                      <mat-radio-button [value]="1" class="me-2">
                        {{'general.yes' | translate}}
                      </mat-radio-button>
                      <mat-radio-button [value]="0">
                        {{'general.no' | translate}}
                      </mat-radio-button>
                    </mat-radio-group>
                    <ng-container
                      *ngIf="(medicalFormControls?.virus_corona?.touched ||medicalFormControls?.virus_corona?.dirty) && medicalFormControls?.virus_corona?.invalid ">
                      <div class="mt-2">
                        <ng-container *ngIf="medicalFormControls?.virus_corona?.errors?.['required']">
                          <span class="text-danger fs-6">
                            {{'validations.requiredField'|translate}}
                          </span>
                        </ng-container>
                      </div>
                    </ng-container>
                  </div>
                </div>
              </div>
              <div class="col-md-6 mt-md-0 mt-4">
                <div class="global-card h-100">
                  <div class="d-flex flex-column gap-2 p-3 border-dashed rounded-25 mb-3">
                    <label class="form-label mb-2 required">
                      {{'form.suffer'|translate}}
                    </label>
                    <mat-radio-group formControlName="suffer">
                      <mat-radio-button [value]="1" class="me-2">
                        {{'general.yes' | translate}}
                      </mat-radio-button>
                      <mat-radio-button [value]="0">
                        {{'general.no' | translate}}
                      </mat-radio-button>
                    </mat-radio-group>
                    <ng-container
                      *ngIf="(medicalFormControls?.suffer?.touched ||medicalFormControls?.suffer?.dirty) && medicalFormControls?.suffer?.invalid ">
                      <div class="mt-2">
                        <ng-container *ngIf="medicalFormControls?.suffer?.errors?.['required']">
                          <span class="text-danger fs-6">
                            {{'validations.requiredField'|translate}}
                          </span>
                        </ng-container>
                      </div>
                    </ng-container>
                  </div>
                  <div class="d-flex flex-column gap-2 p-3 border-dashed rounded-25 mb-3">
                    <label class="form-label mb-2 required">
                      {{'form.poor_hearing'|translate}}
                    </label>
                    <mat-radio-group formControlName="poor_hearing">
                      <mat-radio-button [value]="1" class="me-2">
                        {{'general.yes' | translate}}
                      </mat-radio-button>
                      <mat-radio-button [value]="0">
                        {{'general.no' | translate}}
                      </mat-radio-button>
                    </mat-radio-group>
                    <ng-container
                      *ngIf="(medicalFormControls?.poor_hearing?.touched ||medicalFormControls?.poor_hearing?.dirty) && medicalFormControls?.poor_hearing?.invalid ">
                      <div class="mt-2">
                        <ng-container *ngIf="medicalFormControls?.poor_hearing?.errors?.['required']">
                          <span class="text-danger fs-6">
                            {{'validations.requiredField'|translate}}
                          </span>
                        </ng-container>
                      </div>
                    </ng-container>
                  </div>
                </div>
              </div>
            </div>
          </form>
        </div>
      </mat-step>
      <ng-container>
        <mat-step label="Step 4">
          <ng-template matStepLabel>
            {{'policesList.success'|translate}}
          </ng-template>
          <div id="successful">
            <div class="row justify-content-center align-items-center successful-content">
              <div class="col-lg-6 col-md-8 ">
                <div
                  class=" global-card p-md-5 p-4 d-flex justify-content-between h-100 align-items-center flex-column text-center">
                  <img class="successful-img mb-3" src="assets/image/icons/successful.svg" alt="successful">
                  <h3 class="fw-bold fs-4">
                    {{'general.success'|translate}}
                  </h3>
                  <p class="mt-2">
                    <ng-container *ngIf="isEdit; else add">
                      {{'policesList.editSuccessfully'|translate}}
                    </ng-container>
                    <ng-template #add>
                      {{'policesList.addSuccessfully'|translate}}
                    </ng-template>
                  </p>
                  <ng-container *ngIf="payNow">
                    <button class="btn btn-solid-main mt-4" (click)="payNowItem(policyData)">
                      {{"general.payNow"|translate}}
                    </button>
                  </ng-container>
                  <u class="mt-2 text-main-color">
                    <a class="text-main-color" [routerLink]="'/policies/list'">
                      {{'policesList.seeAllPolicies'|translate}}
                    </a>
                  </u>
                </div>
              </div>
            </div>
          </div>
        </mat-step>
      </ng-container>

    </mat-stepper>
    <ng-container *ngIf="stepper.selectedIndex<3">
      <div class="d-flex justify-content-end gap-2 my-5">
        <button class="btn btn-solid-second d-flex align-items-center justify-content-center gap-2"
          (click)="goBack(stepper)">
          <i class="pi pi-arrow-left scaleX-rtl"></i>
          {{'general.back'|translate}}
        </button>
        <ng-container *ngIf="stepper.selectedIndex <2 ; else save">
          <button class="btn btn-solid-main d-flex align-items-center justify-content-center gap-2"
            (click)="goForward(stepper)">
            {{'general.next'|translate}}
            <i class="pi pi-arrow-right scaleX-rtl"></i>
          </button>
        </ng-container>
        <ng-template #save>
          <button class="btn btn-solid-main d-flex align-items-center justify-content-center gap-2"
            (click)="submit(stepper)">
            <ng-container *ngIf="isEdit; else savePolicy">
              {{'general.edit'|translate}}
              <i class="pi pi-pencil"></i>
            </ng-container>
            <ng-template #savePolicy>
              {{'general.save'|translate}}
              <i class="pi pi-save"></i>
            </ng-template>
          </button>
        </ng-template>
      </div>
    </ng-container>

  </div>
</div>