.ps-2 {
  padding-right: 0.5rem !important;
  padding-left: inherit !important;
}
.border-end {
  border-left: 1px solid #dee2e6 !important;
  border-right: 0 !important;
}
#hero-section {
  .layer1 {
    rotate: -5deg !important;
  }
  .dots {
    right: -50px !important;
    left: inherit !important;
    rotate: 8deg !important;
  }
  .layer2 {
    rotate: 10deg !important;
  }
  .layer3 {
    rotate: -70deg;
    left: -9px !important;
    right: inherit !important;
  }

  .description::before {
    right: 0 !important;
    left: inherit !important;
  }
  .right-bg {
    left: 0 !important;
    right: inherit !important;
  }
}
.bg-name {
  clip-path: polygon(0 0, 100% 100%, 100% 100%, 0% 100%) !important;
}
#feature .vector-bg {
  background-position: left !important;
}
.footer .btn-submit,
#subscription .btn-submit {
  left: 0 !important;
  right: inherit !important;
  transform: translate(10%, -50%) !important;
}

.close-icon-modal {
  left: 1rem !important;
  right: inherit !important;
}
#policy {
  .policy-bg {
    left: 30% !important;
  }
}
.scroll-to-top {
  left: 2rem !important;
  right: inherit !important;
}
.service-layer {
  left: -15px !important;
  right: inherit !important;
}
