.ps-2 {
  padding-right: 0.5rem !important;
  padding-left: inherit !important;
}
.border-end {
  border-left: 1px solid #dee2e6 !important;
  border-right: 0 !important;
}
#hero-section {
  .layer1 {
    rotate: -5deg !important;
  }
  .dots {
    right: -50px !important;
    left: inherit !important;
    rotate: 8deg !important;
  }
  .layer2 {
    rotate: 10deg !important;
  }
  .layer3 {
    rotate: -70deg;
    left: -9px !important;
    right: inherit !important;
  }

  .description::before {
    right: 0 !important;
    left: inherit !important;
  }
  .right-bg {
    left: 0 !important;
    right: inherit !important;
  }
}
.bg-name {
  clip-path: polygon(0 0, 100% 100%, 100% 100%, 0% 100%) !important;
}
#feature .vector-bg {
  background-position: left !important;
}
.footer .btn-submit,
#subscription .btn-submit {
  left: 0 !important;
  right: inherit !important;
  transform: translate(10%, -50%) !important;
}

.close-icon-modal {
  left: 1rem !important;
  right: inherit !important;
}
#policy {
  .policy-bg {
    left: 30% !important;
  }
}
.scroll-to-top {
  left: 2rem !important;
  right: inherit !important;
}
.service-layer {
  left: -15px !important;
  right: inherit !important;
}
.p-datatable {
  .p-datatable-thead > tr > th {
    background-color: transparent;
    border: none;
    color: var(--text-desc-color);
  }
  .p-datatable-tbody > tr > td,
  .p-datatable-thead > tr > th {
    border-color: rgba(140, 149, 163, 0.21);
    border-width: 1px 0 !important;
    padding: 1rem;
    &:first-child {
      border-width: 1px 1px 1px 0px !important;
      border-radius: 0 var(--border-radius-card) var(--border-radius-card) 0 !important;
    }
    &:last-child {
      border-width: 1px 0px 1px 1px !important;
      border-radius: var(--border-radius-card) 0 0 var(--border-radius-card) !important;
    }
  }
  .p-sortable-column {
    &.p-highlight:hover,
    &:not(.p-highlight):hover {
      background-color: transparent;
      color: var(--text-desc-color) !important;
    }
    .p-sortable-column-icon,
    &:not(.p-highlight):hover .p-sortable-column-icon {
      color: var(--text-desc-color) !important;
    }
  }
}
