<div class="user-info position-relative general-dropdown"
  (clickOutside)="collapse == true ? collapse = false : collapse = false">
  <div class="dropdown">
    <button class="btn dropdown-toggle p-0" type="button" [class.show]="collapse">
      <div (click)="collapse=!collapse" class="user-img-parent">
        <img [src]='' onerror="src='assets/image/nonuser.webp'"
          class="user-img rounded-circle w-100 h-100 p-1 bg-white-color border-icon-menu">
      </div>
    </button>
    <ul class="dropdown-menu border-0 shadow p-3 user-info-menu" aria-labelledby="dropdownMenuButton1"
      [class.show]="collapse">
      <div class="d-flex align-items-center">
        <div>
          <img [src]='' onerror="src='assets/image/nonuser.webp'" class="user-img user-img-menu rounded">
        </div>
        <div class="px-3">
          <h1 class="fw-bold text-dir fs-6">{{'eslam'}}</h1>
          <a class="text-secondary lh-base small">{{'email'}}</a>
        </div>
      </div>
      <hr class="text-secondary-color mt-3" />
      <ul>
        <li class="py-3 color-grey-700 p-2 text-dir" [routerLink]="['profile']" (click)="collapse = false">
          {{'user_info.profile'|translate}}
        </li>
        <li class="py-3 color-grey-700 p-2 text-dir" [routerLink]="['/home/profile/changepassword']"
          (click)="collapse = false">
          {{'user_info.change_password'|translate}}
        </li>
        <hr class="text-secondary-color mt-3" />
        <li class="py-3 text-danger p-2 text-dir" (click)="signOut()" (click)="collapse = false">
          {{'user_info.signout'|translate}}
        </li>
      </ul>
    </ul>
  </div>
</div>
