.profile {
  .user {
    min-height: 80vh;
    border: 1px solid var(--text-white-color);
    background: var(--bg-white-color);
    border-radius: 10px;
  }

  .user-img {
    width: 4rem;
    height: 4rem;
  }

  .user-img::before {
    content: "";
    position: absolute;
    width: 0.6rem;
    height: 0.6rem;
    border-radius: 50%;
    background-color: green;
    right: -0.1rem;
    top: -0.2rem;
    border: 2px solid white;
  }

  .userdata-list li {
    transition: all .2s ease-in-out;
    cursor: pointer;
  }

  .user-data svg {
    color: var(--bg-secondary-color);
    ;
    transition: all .2s ease-in-out;
  }

  .userdata-list li:hover,
  .active {
    color: var(--text-main-color) !important;
    background: var(--bg-second-color);
    border-radius: 10px;
  }

  .userdata-list li:hover svg,
  .active svg {
    color: var(--text-main-color) !important;
  }

  .userdata-list li:focus-visible {
    outline: none;
  }

  .object-cover {
    object-fit: cover;
  }

  .user-btn {
    padding: 0.5rem 1rem;
  }

  .new-data {
    color: var(--text-secondary-color);
    background: #E1F0FF;
    padding: 0.3rem 0.4rem;
    font-size: 12px;
  }

  .img-user {
    width: 9rem;
    height: 9rem;
    border: 3px solid var(--text-main-color);
    object-fit: cover;
  }

  .btn-img {
    width: 9rem;
  }

  .card {
    overflow: inherit !important;
  }

  .logout {
    position: absolute;
    bottom: 0;
    left: 0;
  }

  .logout-box {
    border-radius: 0 0 9px 9px;
  }

  .crop-content{
    max-height: 95vh;
    max-width: 80%;
    overflow: auto;
  }
  .form-control:disabled,
  .form-control,
  .input-group-text {
    background: #f9fafb;
    border: 1px solid #d1d5db;
    border-radius: 8px;
    height: 3rem;
  }
  .crop{
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    height: 100vh;
    z-index: 1000;
    background-color: rgba(0,0,0,.5);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
}
