<div class="chat position-fixed">
  <div class="chat-icon d-flex align-items-center justify-content-center bg-main-color fs-1 rounded-circle text-white"
    matTooltip="Lets Chat" matTooltipPosition="left" (click)="hoverStateIn()">
    <i class="fs-2" [class]="iconchange?'fas fa-comments':'fas fa-plus'"></i>
  </div>
  <div class="chat-social position-relative" [class]="active?'activation':'hidden'">
    <a href="https://twitter.com/user"><i
        class="fa fa-twitter d-flex fs-4 align-items-center justify-content-center "></i></a>
    <a href="https://msng.link/o/?user=ig"> <i
        class="fa fa-instagram d-flex fs-4 align-items-center justify-content-center "></i></a>
    <a href="https://msng.link/o/?user=fm"><i
        class="fa fa-facebook d-flex fs-4 align-items-center justify-content-center "></i></a>
    <a href="mailto:user"><i class="fa fa-google-plus d-flex fs-4 align-items-center justify-content-center "></i></a>
    <a href="https://msng.link/o/?user=tg"><i
        class="fa fa-location-arrow d-flex fs-4 align-items-center justify-content-center "></i></a>
    <a href="https://wa.me/phone"><i
        class="fa fa-whatsapp d-flex fs-4 align-items-center justify-content-center "></i></a>
    <a href="tel:phone"><i class="fa fa-phone d-flex fs-4 align-items-center justify-content-center "></i></a>
  </div>
</div>
