<div id="home">
  <app-header></app-header>

  <section id="hero-section" class="d-flex align-items-center justify-content-center position-relative">
    <div class="container ">
      <div class="right-bg" data-aos="fade-down" data-aos-easing="ease-in-out"> </div>
      <div class="row min-h-100 w-100 align-items-center">
        <div class="col-md-6 d-flex align-items-center order-md-1 order-2">
          <div>
            <h1 class="fs-1 w-75 title text-dark-color fw-bold" data-aos="fade-right" data-aos-easing="ease-in-out"
              data-aos-duration="900">Case studies made easy easy</h1>
            <p class="mt-4 fs-5-1 lh-base description ps-2" data-aos="fade-right" data-aos-easing="ease-in-out"
              data-aos-duration="1200">
              Lorem ipsum dolor sit,
              amet consectetur adipisicing elit. Quisquam
              dolor
              velit provident, explicabo sit numquam rerum corrupti. Quidem veritatis similique culpa dolor a ipsam
            </p>
            <div class="d-flex align-items-center flex-wrap gap-sm-5 gap-3 mt-5">
              <button class="btn btn-solid-main" data-aos="fade-up" data-aos-easing="ease-in-out"
                data-aos-duration="1200">{{'home.tryFreeTrial'|translate}}</button>
              <div class="d-flex align-items-center gap-2  text-main-color " data-aos="fade-up"
                data-aos-easing="ease-in-out" data-aos-duration="1300" (click)="openVideo()">
                <div class="play-icon rounded-circle d-flex justify-content-center align-items-center">
                  <i class="pi pi-play"></i>
                </div>
                <a>{{'home.watchDemo'|translate}}</a>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-6 order-md-2 order-1">
          <div class="d-flex justify-content-center position-relative hero-layer">

            <div class="layer1" data-aos="zoom-in" data-aos-easing="ease-in-out" data-aos-duration="800">
              <img src="../../../assets/image/home/dots.svg" class="dots" alt="dot" data-aos="fade-zoom-in"
                data-aos-easing="ease-in-back" data-aos-delay="500" data-aos-offset="0">
            </div>
            <div class="layer2" data-aos="zoom-in-down" data-aos-easing="ease-in-out" data-aos-duration="700"
              data-aos-delay="500">
              <div class="layer3 position-absolute" data-aos="fade-down" data-aos-duration="500" data-aos-delay="800">
              </div>
            </div>
            <div class="position-absolute">
              <img src="assets/image/home/policy.svg" data-aos="fade-down" data-aos-duration="500" data-aos-delay="1000"
                alt="hero-img" class="hero-img mt-5">
            </div>
          </div>
        </div>
      </div>
      <div class="w-100 name" data-aos="fade-zoom-in" data-aos-easing="ease-in-back" data-aos-delay="500"
        data-aos-offset="0">Policy</div>
    </div>
  </section>


  <div class="">
    <div class="bg-name"></div>
    <section id="feature" class="pt-4  mb-5 d-flex align-items-center justify-content-center position-relative">
      <!-- <div class="position-absolute number-bg"></div> -->
      <div class="vector-bg">
        <div class="container ">
          <h5 class="fs-5 animate__animated animate__fadeInLeft animate__slow	 2s">Feature</h5>
          <h2 class="fs-2 w-75 title text-white-color fw-bold">Case
            studies made easy easy</h2>
          <div class="row">
            <ng-container *ngFor="let item of [9,8,9];let i=index">
              <div class="col-md-4 mb-md-0 mb-3">
                <div class="global-card feature-content position-relative">
                  <div class="position-absolute number-bg"></div>
                  <div class="d-flex justify-content-between align-items-center">
                    <h1 class="fs-lg dark-main-color">
                      01
                    </h1>
                    <i class="pi pi-chart-bar fs-4 text-main-color"></i>
                  </div>
                  <h3 class="fs-4 mb-2">Easily Create</h3>
                  <p class="text-muted lh-base fs-5-1">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Fuga
                    consequuntur</p>
                </div>
              </div>

            </ng-container>
          </div>
        </div>
      </div>
    </section>
  </div>




  <section id="article" class="position-relative">
    <div class="container">
      <h5 class="article-title pt-5 fs-4 ps-5">
        It's a real Airtcle view!</h5>
      <div class="article-view d-flex justify-content-center">
        <img src="assets/image/home/policy.jfif" class="w-90" alt="article-view">
      </div>
    </div>
  </section>
  <div class="mt-4">
    <app-footer></app-footer>
  </div>
</div>


<app-scroll-to-top></app-scroll-to-top>