.search {
  .dropdown-menu {
    max-height: 70vh;
    width: 28rem;
    top: 3.1rem
  }

  .search-content {
    max-height: calc(70vh - 160px);
    overflow-y: scroll;
  }

  .search-img {
    width: 2rem;
    height: 2rem;
  }

  .input-group-text {
    background: transparent;
    border: 0;

  }

  .form-control {
    border: 0;
  }

  .fas fa-remove {
    transition: all .2s ease-in-out;
  }

  .fas fa-remove:hover {
    color: var(--text-main-color);
  }
}
