<div class="footer pt-5 mt-4">
  <div class="container">
    <div class="row">
      <div class="col-lg-4 col-md-6">
        <div class="mb-4">
          <div class="d-flex gap-2 flex-wrap">
            <img src="assets/image/logo/logo.png" alt="logo" class="logo" data-aos="fade-right"
              data-aos-easing="ease-in-out" data-aos-duration="1000">
            <img src="assets/image/logo/logo2.png" alt="logo" class="logo" data-aos="fade-right"
              data-aos-easing="ease-in-out" data-aos-duration="1000">
          </div>
          <p class="w-75 w-sm-100 lh-base mt-3" data-aos="fade-right" data-aos-easing="ease-in-out"
            data-aos-duration="1100">
            {{data?.description}}
          </p>
          <div class="mt-4 d-flex align-items-center gap-3" data-aos="fade-down" data-aos-easing="ease-in-out"
            data-aos-duration="1200">
            <a [href]="data?.facebookLink" class="text-dark-color" target="_blank">
              <i class="pi pi-facebook fs-4"></i>
            </a>
            <a class="text-dark-color">
              <i class="pi pi-twitter fs-4"></i>
            </a>
            <a class="text-dark-color">
              <i class="pi pi-instagram fs-5"></i>
            </a>
            <a [href]="data?.whatsappLink" class="text-dark-color" target="_blank">
              <i class="pi pi-whatsapp fs-4"></i>
            </a>
          </div>
        </div>
      </div>
      <div class="col-lg-2 col-md-3">
        <div data-aos="fade-down" data-aos-easing="ease-in-out" data-aos-duration="1000">
          <h4 class="fs-5 my-4 title fw-bold">
            {{'footer.services'|translate}}
          </h4>
          <ul class="p-0">
            <ng-container *ngFor="let item of data?.services">
              <li class="pb-3"><a class="text-dark-color">{{item}}</a></li>
            </ng-container>
          </ul>
        </div>
      </div>
      <div class="col-lg-2 col-md-3">
        <div data-aos="fade-down" data-aos-easing="ease-in-out" data-aos-duration="1000">
          <h4 class="fs-5 my-4 title fw-bold">
            {{'footer.moreDetails'|translate}}
          </h4>
          <ul class="p-0">
            <ng-container *ngFor="let item of data?.moreDetails">
              <li class="pb-3"><a class="text-dark-color" target="_blank" [routerLink]="[item?.link]">{{item?.name}}</a>
              </li>
            </ng-container>
          </ul>
        </div>
      </div>
      <div class="col-lg-4 col-md-6">
        <div data-aos="fade-down" data-aos-easing="ease-in-out" data-aos-duration="1000">
          <h5 class="fs-5 my-4 title fw-bold">
            {{'footer.contact'|translate}}
          </h5>
          <div>
            <ng-container *ngFor="let item of data?.contact">
              <li class="pb-3"><a class="text-dark-color">{{item}}</a></li>
            </ng-container>
          </div>
        </div>
      </div>
    </div>
    <hr class="m-0 mt-4">
    <p class="mb-0 text-center py-4" data-aos="fade-down" data-aos-easing="ease-in-out" data-aos-duration="800">
      {{'footer.allRights'|translate}}
    </p>
  </div>
</div>