<div class="footer pt-5">
  <div class="container">
    <div class="row">
      <div class="col-lg-4 col-md-6">
        <div class="mb-4">
          <div>
            <img src="assets/image/logo/logo.png" alt="logo" class="logo" data-aos="fade-right"
              data-aos-easing="ease-in-out" data-aos-duration="1000">
          </div>
          <p class="w-75 w-sm-100 lh-base" data-aos="fade-right" data-aos-easing="ease-in-out" data-aos-duration="1100">
            {{'footer.desc'|translate}}
          </p>
          <div class="mt-4 d-flex align-items-center gap-3" data-aos="fade-down" data-aos-easing="ease-in-out"
            data-aos-duration="1200">
            <div>
              <i class="pi pi-facebook fs-4"></i>
            </div>
            <div>
              <i class="pi pi-twitter fs-4"></i>
            </div>
            <div>
              <i class="pi pi-linkedin fs-5"></i>
            </div>
            <div>
              <i class="pi pi-youtube fs-4"></i>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-2 col-md-3">
        <div data-aos="fade-down" data-aos-easing="ease-in-out" data-aos-duration="1000">
          <h4 class="fs-5 my-4 title fw-bold">
            {{'footer.quick'|translate}}
          </h4>
          <ul class="p-0">
            <li class="pb-3"><a class="text-dark-color" [routerLink]="['/home']">{{'nav.home'|translate}}</a></li>
            <li class="pb-3"><a class="text-dark-color" [routerLink]="['/about-us']">{{'nav.about'|translate}}</a></li>
            <li class="pb-3"><a class="text-dark-color" [routerLink]="['/auth/login']">{{'form.login'|translate}}</a>
            </li>
            <li class="pb-3"><a class="text-dark-color"
                [routerLink]="['/auth/register']">{{'form.registration'|translate}}</a></li>
          </ul>
        </div>
      </div>
      <div class="col-lg-2 col-md-3">
        <div data-aos="fade-down" data-aos-easing="ease-in-out" data-aos-duration="1000">
          <h4 class="fs-5 my-4 title fw-bold">
            {{'footer.resource'|translate}}
          </h4>
          <ul class="p-0">
            <li class="pb-3"><a class="text-dark-color" [routerLink]="['/contact-us']">{{'nav.contactUs'|translate}}</a>
            </li>
            <li class="pb-3"><a class="text-dark-color">
                {{'footer.terms'|translate}}
              </a></li>
            <li class="pb-3"><a class="text-dark-color">
                {{'footer.privacy'|translate}}
              </a></li>
          </ul>
        </div>
      </div>
      <div class="col-lg-4 col-md-6">
        <div>
          <h5 class="fs-5 my-4 title fw-bold" data-aos="fade-right" data-aos-easing="ease-in-out"
            data-aos-duration="1000">
            {{'footer.subscribe'|translate}}
          </h5>
          <form class="d-flex position-relative" [formGroup]="form" (submit)="submit()" data-aos="fade-right"
            data-aos-easing="ease-in-out" data-aos-duration="1200">
            <input class="form-control" type="email" placeholder="{{'placeholder.emailAddress'|translate}}"
              formControlName="email">
            <button class="btn btn-solid-main p-2 btn-submit position-absolute" type="submit"
              [disabled]="form?.invalid">
              {{'general.submit'|translate}}</button>
          </form>
        </div>
      </div>
    </div>
    <hr class="m-0 mt-4">
    <p class="mb-0 text-center py-4" data-aos="fade-down" data-aos-easing="ease-in-out" data-aos-duration="1000">
      {{'footer.allRights'|translate}}
    </p>
  </div>
</div>