.dropdown-theme {
  .dropdown-menu {
    top: 3rem;
  }
  .nav-link {
    color: #777;
  }
  li {
    transition: all 0.2s ease-in-out;
    cursor: pointer;
  }

  li:hover {
    background: var(--bg-second-color);
    border-radius: 10px;
    .nav-link {
      color: var(--text-main-color) !important;
    }
  }

  .colors > span {
    width: 1rem;
    height: 1rem;
    transition: all 0.2s ease-in-out;
  }

  .colors > span:hover {
    transform: scale(1.3);
  }

  .theme-select {
    transition: all 0.2s ease-in-out;
  }

  .theme-select:hover {
    color: var(--text-main-color);
  }
}
.dropdown-theme {
  .colors > .color {
    width: 1rem;
    height: 1rem;
    transition: all 0.2s ease-in-out;
  }
  .colors > .color:hover {
    transform: scale(1.3);
  }
}
.dropdown-toggle::after {
  display: inline-block !important;
}
