.form-logo {
  width: 100px;
  height: 50px;
  cursor: pointer;
  object-fit: contain;
}
.border-red {
  border-radius: var(--border-input-radius) !important;
}
:host::ng-deep {
  .p-input-icon-right > i:last-of-type {
    transform: translate(0, 0) !important;
  }
}
