<div id="login" class="py-4 auth-form bg-transparent">
  <div class="d-flex justify-content-between align-items-center flex-wrap gap-2 mb-md-4 mb-2">
    <a class="d-lg-none d-flex align-items-center gap-2 text-dark-color" [routerLink]="['/home']">
      <i class="fas fa-arrow-left scaleX-rtl"></i>
      <span>{{'general.backToHome'|translate}}</span>
    </a>
    <div class="justify-content-end d-flex me-auto">
      <app-language-selector></app-language-selector>
    </div>
  </div>
  <div class="d-lg-none d-flex justify-content-center align-items-center gap-3 flex-wrap mb-3">
    <img src="assets/image/logo/logo.png" class="form-logo mb-2" alt="logo" [routerLink]="['/home']">
    <!-- <img src="assets/image/logo/logo.png" class="form-logo mb-2" alt="logo" [routerLink]="['/home']"> -->
  </div>
  <h2 class="fs-1 text-sm-center">{{'form.welcome'|translate}}</h2>
  <p class="mt-2 text-sm-center lh-sm">{{'form.insertEmailAndPassword'|translate}}</p>
  <form [formGroup]="loginForm" (ngSubmit)="submit()" class="py-5">
    <div class="mb-4">
      <input type="text" class="form-control" formControlName="email" autocomplete="cc-name"
        (input)="publicService?.clearValidationErrors(formControls?.email)"
        [class.is-invalid]="formControls?.email?.invalid && (formControls?.email?.dirty || formControls?.email?.touched)"
        placeholder="{{'placeholder.email' | translate}}">
      <div class="mt-2">
        <ng-container
          *ngIf="formControls?.email?.invalid && (formControls?.email?.dirty || formControls?.email?.touched)">
          <ng-container
            *ngIf="formControls?.email?.invalid && (formControls?.email?.dirty || formControls?.email?.touched)">
            <ng-container *ngIf="formControls?.email?.errors?.['required']">
              <span class="text-danger fs-8">
                {{'validations.requiredField'|translate}}
              </span>
            </ng-container>
            <ng-container *ngIf="formControls?.email?.errors?.pattern">
              <span class="text-danger fs-8 d-block lh-base">
                {{'validations.notValid'|translate}}
              </span>
            </ng-container>
          </ng-container>
        </ng-container>
      </div>
    </div>
    <div class="mb-4">
      <div class="rounded-input p-mask"
        [class.border-red]="formControls?.password?.invalid && (formControls?.password?.dirty || formControls?.password?.touched)"
        [class.is-valid]="formControls?.password?.valid && (formControls?.password?.dirty || formControls?.password?.touched)">
        <p-password [toggleMask]="true" formControlName="password" placeholder="{{'placeholder.password' | translate}}"
          class="position-relative" autocomplete="cc-name" [feedback]="false">
        </p-password>
      </div>
      <div class="mt-2">
        <ng-container
          *ngIf="formControls?.password?.invalid && (formControls?.password?.dirty || formControls?.password?.touched) ">
          <ng-container *ngIf="formControls?.password?.errors?.['required']">
            <span class="text-danger fs-8">
              {{'validations.requiredField'|translate}}
            </span>
          </ng-container>
          <ng-container *ngIf="formControls?.password?.errors?.['pattern']">
            <span class="text-danger fs-8 lh-sm">
              {{'validations.passwordPattern'|translate}}
            </span>
          </ng-container>
        </ng-container>
      </div>
    </div>
    <div class="d-flex justify-content-end mt-3">
      <u class="text-main-color">
        <a class="fs-8 text-main-color" (click)="forgetPassword()">
          {{'form.forget_password'|translate}}
        </a>
      </u>
    </div>
    <button type="submit" class="btn w-100 btn-solid-main form-btn mt-4" [disabled]="isLoadingBtn">
      <span>
        {{'form.login'|translate}}
      </span>
    </button>
  </form>
  <div class=" mt-5">
    <p class="d-flex justify-content-center align-items-center gap-2">
      <span>{{'form.notMember'|translate}}</span>
      <a class="text-main-color ps-1" [routerLink]="['/auth/register']">
        {{'form.registration'|translate}}
      </a>
    </p>
  </div>
</div>