.header {
  .navbar-brand {
    width: 4rem;
    height: 4rem;

  }

  .btn {
    padding: 0.5rem 1.2rem !important;
  }

  .navbar-collapse {
    // background: white;
  }

  .navbar {
    background-color: rgb(251, 33, 25);

    .navbar-nav {
      .active {
        color: var(--text-main-color) !important;
        font-weight: bold !important;
        border-bottom: 3px solid var(--text-main-color);
      }
    }

    .nav-link {
      padding: 1.6rem 1rem;
    }
  }
}
