<!-- <div class="header" (clickOutside)="collapsed == true ? collapsed = false : collapsed = false">
  <div class="container">
    <nav class="navbar navbar-expand-lg navbar-light py-2 px-3 rounded">
      <a class="d-flex" [routerLink]="['/home/policies/dashboard']">
        <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="#fff" class="bi bi-speedometer"
          viewBox="0 0 16 16">
          <path
            d="M8 2a.5.5 0 0 1 .5.5V4a.5.5 0 0 1-1 0V2.5A.5.5 0 0 1 8 2zM3.732 3.732a.5.5 0 0 1 .707 0l.915.914a.5.5 0 1 1-.708.708l-.914-.915a.5.5 0 0 1 0-.707zM2 8a.5.5 0 0 1 .5-.5h1.586a.5.5 0 0 1 0 1H2.5A.5.5 0 0 1 2 8zm9.5 0a.5.5 0 0 1 .5-.5h1.5a.5.5 0 0 1 0 1H12a.5.5 0 0 1-.5-.5zm.754-4.246a.389.389 0 0 0-.527-.02L7.547 7.31A.91.91 0 1 0 8.85 8.569l3.434-4.297a.389.389 0 0 0-.029-.518z" />
          <path fill-rule="evenodd"
            d="M6.664 15.889A8 8 0 1 1 9.336.11a8 8 0 0 1-2.672 15.78zm-4.665-4.283A11.945 11.945 0 0 1 8 10c2.186 0 4.236.585 6.001 1.606a7 7 0 1 0-12.002 0z" />
        </svg>
        <h1 class="text-white-color fs-3 mx-2">
          {{(title || 'policies.dashboard') | translate}}
        </h1>
      </a>
      <button class="navbar-toggler bg-white-color border-0" type="button" data-bs-target="#navbarNavAltMarkup"
        aria-controls="navbarNavAltMarkup" aria-label="Toggle navigation" (click)="collapsed=!collapsed">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse rounded-3" id="navbarNavAltMarkup" [class.show]="collapsed">
        <div class="d-flex flex-lg-row align-items-center justify-content-end  w-100 flex-column">
          <div class="d-flex align-items-center my-xl-0 my-md-3 my-sm-3 my-3">
            <ng-container >
              <li class="nav-item mx-2">
                <app-language-selector></app-language-selector>
              </li>
              <li class="nav-item mx-2">
                <app-notifcation></app-notifcation>
              </li>
              <li class="nav-item mx-2">
                <app-user-info></app-user-info>
              </li>
            </ng-container>
          </div>
        </div>
      </div>
    </nav>
  </div>
</div> -->
<nav class="navbar navbar-expand-lg position-fixed w-100"
  (clickOutside)="collapsedMenu == true ? collapsedMenu = false :''">
  <div class="container">
    <a class="navbar-brand d-flex align-items-center gap-2">
      <img src="assets/image/logo/logo.png" alt="logo" class="logo h-100">
      <!-- <img src="assets/image/logo/logo.png" alt="logo" class="logo h-100"> -->
    </a>
    <button class="navbar-toggler border-0" type="button" data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
      [attr.aria-expanded]="!collapsedMenu" (click)="collapsedMenu = !collapsedMenu" aria-label="Toggle navigation">
      <div class="menu-icon d-flex justify-content-between flex-column align-items-end">
        <span class="line"></span>
        <span class="line line2"></span>
        <span class="line line3"></span>
      </div>
    </button>
    <div class="collapse navbar-collapse m-auto" id="navbarSupportedContent" [class.show]="collapsedMenu">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0 gap-4">
        <li class="nav-item">
          <a class="nav-link active" [routerLink]="['/home']">{{'nav.home'|translate}}</a>
        </li>
        <ng-container *ngIf="isLoggedIn; else noLogged">
          <li class="nav-item">
            <a class="nav-link">{{'nav.statistic'|translate}}</a>
          </li>
          <li class="nav-item">
            <a class="nav-link">{{'nav.policies'|translate}}</a>
          </li>
          <li class="nav-item">
            <a class="nav-link">{{'nav.payments'|translate}}</a>
          </li>
        </ng-container>
        <ng-template #noLogged>
          <li class="nav-item">
            <a class="nav-link" [routerLink]="['/pricing']">{{'nav.pricing'|translate}}</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" [routerLink]="['/about-us']">{{'nav.about'|translate}}</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" [routerLink]="['/contact-us']">{{'nav.contactUs'|translate}}</a>
          </li>
        </ng-template>

      </ul>
      <div class="d-flex align-items-center justify-content-md-center gap-4 py-lg-0 py-3">
        <ng-container *ngIf="!isLoggedIn">
          <a [routerLink]="'/auth/login'">
            <app-alt-button [text]="'form.login'|translate"></app-alt-button>
          </a>
          <!-- <button class="btn btn-outline-main" [routerLink]="'/auth/login'">{{'form.login'|translate}}</button> -->
          <button [routerLink]="'/auth/register'" class="btn btn-solid-main">{{'form.registration'|translate}}</button>
        </ng-container>
        <app-theme></app-theme>
        <app-language-selector></app-language-selector>
        <ng-container *ngIf="isLoggedIn">
          <app-user-info></app-user-info>
        </ng-container>

      </div>
    </div>
  </div>
</nav>