<div id="verfication-otp" class="py-4 auth-form">
  <div class="d-flex justify-content-between align-items-center gap-2 mb-5">
    <div class="back">
      <a (click)="back()">
        <i class="fas fa-arrow-left scaleX-rtl"></i>
      </a>
    </div>
    <div class="justify-content-end d-flex me-auto">
      <app-language-selector></app-language-selector>
    </div>
  </div>
  <div class="d-lg-none d-flex justify-content-center align-items-center gap-3 flex-wrap mb-3">
    <img src="assets/image/logo/logo.png" class="form-logo mb-2" alt="logo" [routerLink]="['/home']">
    <!-- <img src="assets/image/logo/logo.png" class="form-logo mb-2" alt="logo" [routerLink]="['/home']"> -->
  </div>
  <h2 class="fs-1 text-sm-center">
    {{'emailVerification.title'|translate}}
  </h2>
  <p class="mt-2 text-sm-center w-75 w-sm-100 m-auto lh-base"><span>
      {{'form.checkYourEmail'|translate}}
    </span>
    <span class="ps-1">{{email}}</span>
  </p>
  <form (ngSubmit)="confirm()" class="py-sm-5 py-4">
    <div class="mb-3 otp-code">
      <code-input class="otp-code" [isCodeHidden]="false" [initialFocusField]="0" [isCharsCode]="true" [codeLength]="6"
        (codeChanged)="onCodeChanged($event)" (codeCompleted)="onCodeCompleted($event)">
      </code-input>
    </div>
    <button type="submit" class="btn w-100 btn-solid-main form-btn mt-4"
      [disabled]="isLoadingBtn || codeLength?.length < 4">
      <span>
        {{'form.confirm'|translate}}
      </span>
      <ng-container *ngIf="isLoadingBtn">
        <i class="pi pi-spin pi-spinner" style="font-size: 1rem"></i>
      </ng-container>
    </button>
    <div class="text-center mt-4">
      <p class="text-desc-color d-flex justify-content-center"> <span>
          {{'emailVerification.subTitle2'|translate}}
        </span>
        <ng-container *ngIf="isWaiting">
          <a (click)="resendCode()" class="text-main-color mx-1">
            {{'emailVerification.resend'|translate}}
          </a>
        </ng-container>
        <ng-container *ngIf="!isWaiting">
          <app-countdown [customTitle]="minute" (emitServicePrice)="printTimeEnd($event)"></app-countdown>
        </ng-container>
      </p>
    </div>
  </form>
  <div class="text-center mt-5">
    <p><span> {{ "form.have_account" | translate }}</span>
      <a class="text-main-color ps-1" [routerLink]="['/auth/login']">
        {{ "form.login" | translate }}
      </a>
    </p>
  </div>
</div>