<div class="dialog">

  <h1 class="fw-bold fs-4 py-2">
    {{'email_verfication.title'|translate}}
  </h1>
  <p class="text-secondary-color lh-base">
    {{'email_verfication.sub-title'|translate}}
    <span class="text-main-color fs-5">
      <!-- {{data.email}} -->
    </span>
  </p>

  <div>
    <div class="d-flex align-items-center justify-content-center my-4">
      <code-input class="otp-code" [isCodeHidden]="false" [codeLength]="5" (codeChanged)="onCodeChanged($event)"
        (codeCompleted)="onCodeCompleted($event)">
      </code-input>

    </div>
    <h1 class="text-secondary-color d-flex align-items-center justify-content-start">
      <p>
        {{'email_verfication.sub-title2'|translate}}
      </p>
      <ng-container *ngIf="isWaiting">
        <a (click)="resendCode()" class="text-main-color mx-1">
          {{'email_verfication.resend'|translate}}
        </a>
      </ng-container>
      <ng-container *ngIf="!isWaiting">
        <app-countdown [customTitle]="minute" (emitServicePrice)="printTimeEnd($event)"></app-countdown>
      </ng-container>
    </h1>

    <button type="button" class="btn btn-solid-main mt-4 w-100" (click)="confirm()"
      [disabled]="codeLength?.length<5 || isloadingBtn || isloading">
      {{'form.confirm'|translate}}
      <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true" *ngIf="isloadingBtn"></span>
    </button>
  </div>

  <ng-container *ngIf="isloading || isloadingBtn">
    <div class="overlay-spinner-loading d-flex justify-content-center align-items-center">
      <div class="spinner-grow" role="status">
      </div>
    </div>
  </ng-container>

  <ng-container *ngIf="isloadingBtn">
    <div class="overlay-spinner-loading d-flex justify-content-center align-items-center">
      <div class="spinner-grow" role="status">
      </div>
    </div>
  </ng-container>

  <div class="forget-password overflow-hidden bg-white-color">
    <div class="row d-flex justify-content-center align-items-center">

      <div class="col-xl-5 col-md-6 col-sm-8 col-12 h-100">
        <div class="d-flex flex-column justify-content-center align-items-center min-vh-100 mx-5">

          <div class="d-flex justify-content-between align-items-center select-language w-100 mt-3">
            <img *ngIf="currentLanguage=='ar'" src="assets/image/us.svg" class="fit-contain lang"
              (click)="translationService?.changeLang('en')">
            <img *ngIf="currentLanguage=='en'" src="assets/image/eg.svg" class="fit-contain lang"
              (click)="translationService?.changeLang('ar')">
            <i class="fa fa-arrow-left scaleX-rtl" style="font-size: 1.5rem" (click)="back()"></i>
          </div>

          <h2 class="text-black-color mt-3 fs-3">
            {{'email_verfication.title'|translate}}
          </h2>

          <div class="bg-second-color p-4 rounded-25 color-secondry mt-4 lh-base w-100">
            {{'email_verfication.sub-title'|translate}}
            <span class="text-main-color fs-5">
              <!-- {{data.email}} -->
            </span>
          </div>

          <div class="d-flex justify-content-between align-items-center w-100">
            <form [formGroup]="emailVerification">
              <div>
                <div class="d-flex align-items-center justify-content-center my-4">
                  <code-input class="otp-code" [isCodeHidden]="false" [codeLength]="5"
                    (codeChanged)="onCodeChanged($event)" (codeCompleted)="onCodeCompleted($event)"
                    formControlName="code">
                  </code-input>
                </div>
                <div class="my-3">
                  <label class="form-label">
                    {{'form.email'|translate}}
                  </label>
                  <input type="email" class="form-control" formControlName="email"
                    placeholder="{{'placeholder.email' | translate}}">
                </div>
                <h1 class="text-secondary-color d-flex align-items-center justify-content-start">
                  <p>
                    {{'email_verfication.sub-title2'|translate}}
                  </p>
                  <ng-container *ngIf="isWaiting">
                    <a (click)="resendCode()" class="text-main-color mx-1">
                      {{'email_verfication.resend'|translate}}
                    </a>
                  </ng-container>
                  <ng-container *ngIf="!isWaiting">
                    <app-countdown [customTitle]="minute" (emitServicePrice)="printTimeEnd($event)"></app-countdown>
                  </ng-container>
                </h1>

                <button type="button" class="btn btn-solid-main mt-4 w-100" (click)="confirm()"
                  [disabled]="codeLength?.length<5 || isloadingBtn || isloading">
                  {{'form.confirm'|translate}}
                  <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"
                    *ngIf="isloadingBtn"></span>
                </button>
              </div>

            </form>
            <ng-container *ngIf="isloading || isloadingBtn">
              <div class="overlay-spinner-loading d-flex justify-content-center align-items-center">
                <div class="spinner-grow" role="status">
                </div>
              </div>
            </ng-container>


          </div>
        </div>
      </div>
    </div>
  </div>
