.changepassword {
  .fa-info {
    background: #fcb6be;
    border-radius: 50%;
    width: 2rem;
    height: 2rem;
  }

  .form-control {
    background-color: var(--bg-form-control-profile);
  }

  .eye-icon {
    background-color: var(--bg-form-control-profile);
    border: 0;
  }

  .border-red {
    border: 1px solid #dc3545 !important;
  }

  .border-green {
    border: 1px solid #198754 !important;
  }

}
