<div class="changepassword p-4 padding-small-1 bg-logo bg-logo2">
  <form [formGroup]="changePasswordForm" (ngSubmit)="submit()">
    <div class="d-flex align-items-center justify-content-between flex-column flex-lg-row">
      <div>
        <h1 class="fw-bold fs-5 text-center-small">
          {{'form.change_password' | translate}}
        </h1>
        <p class="color-muted my-2">
          {{'form.change_password_text' | translate}}
        </p>
      </div>
      <div class="d-flex align-items-center">
        <button class="btn btn-solid-main me-2" type="submit"
          [disabled]="changePasswordForm.invalid || !changePasswordForm.dirty">
          {{'general.save_changes' | translate}}
        </button>
        <button class="btn btn-solid-second me-2" [routerLink]="['/home/policies/dashboard']">
          {{'general.cancel' | translate}}
        </button>
      </div>
    </div>
    <hr>
    <div class="danger alert-danger d-flex align-items-center gap-3 rounded-25 lh-base my-4  p-4 padding-md-1">
      <div class="">
        <i class="fas fa-info d-flex align-items-center justify-content-center"></i>
      </div>
      <p>
        {{'form.changePasswordAttention' | translate}}
      </p>
    </div>
    <div class="py-5 px-2 paddingY-md-0">

      <div class="d-flex flex-column flex-lg-row mb-4">
        <label for="exampleInputPassword1" class="form-label w-25 pt-3 mb-0 w-100-md mb-1-md">
          {{'form.current_password'|translate}}
        </label>
        <div class="w-100">
          <div class="input-group"
            [class.border-red]="(formControls?.['currentpassword']?.touched||formControls?.['currentpassword']?.dirty)&&formControls?.['currentpassword']?.invalid">
            <input [type]="showeyeCurr?'text':'password'" class="login-password-form form-control form-control-single"
              id="exampleInputPassword1" formControlName="currentpassword"
              placeholder="{{'form.current_password'|translate}}"
              [class.is-valid]="formControls?.['currentpassword']?.dirty&&formControls?.['currentpassword']?.valid">
            <span class="togglepassword input-group-text eye-icon input-group-text-right" id="basic-addon1"
              [class.border-red]="(formControls?.['currentpassword']?.touched||formControls?.['currentpassword']?.dirty)&&formControls?.['currentpassword']?.invalid"
              [class.border-green]="formControls?.['currentpassword']?.dirty&&formControls?.['currentpassword']?.valid"
              (click)="togglecurrpassword()"><i [class]="showeyeCurr?'fas fa-eye':'fas fa-eye-slash'"></i>
            </span>
          </div>
          <div class="d-flex align-items-center mt-1">
            <div
              *ngIf="(formControls?.currentpassword?.touched || formControls?.currentpassword?.dirty) && formControls?.currentpassword?.invalid">
              <div *ngIf="formControls?.currentpassword?.errors?.['required']">
                <span class="text-danger fs-6">
                  {{'validations.requiredField'|translate}}
                </span>
              </div>
              <div
                *ngIf="formControls?.currentpassword?.errors?.['minlength'] || formControls?.currentpassword?.errors?.['maxlength']">
                <span class="text-danger fs-6">
                  {{'validations.pass_length'|translate}}
                </span>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="d-flex flex-column flex-lg-row mb-4">
        <label for="exampleInputPassword1" class="form-label w-25 pt-3 mb-0 w-100-md mb-1-md">
          {{'form.newPassword'|translate}}
        </label>
        <div class="w-100">
          <div class="input-group"
            [class.border-red]="(formControls?.['newpassword']?.touched||formControls?.['newpassword']?.dirty)&&formControls?.['newpassword']?.invalid">
            <input [type]="showeye?'text':'password'" class="login-password-form form-control form-control-single"
              id="exampleInputPassword1" formControlName="newpassword" placeholder="{{'form.newPassword'|translate}}"
              [class.is-valid]="formControls?.['newpassword']?.dirty&&formControls?.['newpassword']?.valid">
            <span class="togglepassword input-group-text eye-icon input-group-text-right" id="basic-addon1"
              [class.border-red]="(formControls?.['newpassword']?.touched||formControls?.['newpassword']?.dirty)&&formControls?.['newpassword']?.invalid"
              [class.border-green]="formControls?.['newpassword']?.dirty&&formControls?.['newpassword']?.valid"
              (click)="togglepassword()"><i [class]="showeye?'fas fa-eye':'fas fa-eye-slash'"></i>
            </span>
          </div>
          <div class="d-flex align-items-center mt-1">
            <div
              *ngIf="(formControls?.newpassword?.touched || formControls?.newpassword?.dirty) && formControls?.newpassword?.invalid">
              <div *ngIf="formControls?.newpassword?.errors?.['required']">
                <span class="text-danger fs-6">
                  {{'validations.requiredField'|translate}}
                </span>
              </div>
              <div
                *ngIf="formControls?.newpassword?.errors?.['minlength'] || formControls?.newpassword?.errors?.['maxlength']">
                <span class="text-danger fs-6">
                  {{'validations.pass_length'|translate}}
                </span>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="d-flex flex-column flex-lg-row mb-4">
        <label for="exampleInputPassword1" class="form-label w-25 pt-3 mb-0 w-100-md mb-1-md">
          {{'form.confirm_password'|translate}}
        </label>
        <div class="w-100">
          <div class="input-group"
            [class.border-red]="(formControls?.['confirmpassword']?.touched||formControls?.['confirmpassword']?.dirty)&&formControls?.['confirmpassword']?.invalid">
            <input [type]="showeye?'text':'password'" class="login-password-form form-control form-control-single"
              id="exampleInputPassword1" formControlName="confirmpassword"
              placeholder="{{'form.confirm_password'|translate}}"
              [class.is-valid]="formControls?.['confirmpassword']?.dirty&&formControls?.['confirmpassword']?.valid">
            <span class="togglepassword input-group-text eye-icon input-group-text-right" id="basic-addon1"
              [class.border-red]="(formControls?.['confirmpassword']?.touched||formControls?.['confirmpassword']?.dirty)&&formControls?.['confirmpassword']?.invalid"
              [class.border-green]="formControls?.['confirmpassword']?.dirty&&formControls?.['confirmpassword']?.valid"
              (click)="togglepassword()"><i [class]="showeye?'fas fa-eye':'fas fa-eye-slash'"></i>
            </span>
          </div>
          <div class="d-flex align-items-center mt-1">
            <div
              *ngIf="(formControls?.['confirmpassword']?.touched || formControls?.['confirmpassword']?.dirty) && formControls?.['confirmpassword']?.invalid">
              <div *ngIf="formControls?.['confirmpassword']?.errors?.['required']">
                <span class="text-danger fs-6">
                  {{'validations.requiredField'|translate}}
                </span>
              </div>
              <div *ngIf="formControls?.['confirmpassword']?.errors?.['ConfirmPassword']">
                <span class="text-danger fs-6">
                  {{'validations.not_match'|translate}}
                </span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </form>
</div>

<ng-container *ngIf="isloadingBtn">
  <div class="overlay-spinner-loading d-flex justify-content-center align-items-center">
    <div class="spinner-grow" role="status">
    </div>
  </div>
</ng-container>