<div id="forget-password" class="py-4 auth-form">
  <div class="d-flex align-items-center gap-2 mb-5">
    <div class="back">
      <a class="d-flex gap-2 text-dark-color" routerLink="/auth/login">
        <i class="fas fa-arrow-left"></i>
        <span class="d-sm-block d-none">{{'form.backToLogin'|translate}}</span></a>
    </div>
    <div class="justify-content-end d-flex me-auto">
      <app-language-selector></app-language-selector>
    </div>
  </div>
  <div class="d-lg-none d-flex justify-content-center align-items-center gap-3 flex-wrap mb-3">
    <img src="assets/image/logo/logo.png" class="form-logo mb-2" alt="logo" [routerLink]="['/home']">
    <img src="assets/image/logo/logo2.png" class="form-logo mb-2" alt="logo" [routerLink]="['/home']">
  </div>
  <h2 class="fs-1 text-sm-center"> {{'form.forgetPasswordTitle' | translate}}</h2>
  <p class="mt-2 text-sm-center w-75 w-sm-100 m-auto lh-base">{{'form.enterEmailToSendOtp'|translate}}</p>
  <form [formGroup]="forgetPasswordForm" (ngSubmit)="submit()" class="py-5">
    <div>
      <div>
        <input type="email" class="form-control" formControlName="email" autocomplete="cc-name"
          (input)="publicService?.clearValidationErrors(formControls?.email)"
          [class.is-invalid]="formControls?.email?.invalid && (formControls?.email?.dirty || formControls?.email?.touched)"
          placeholder="{{'placeholder.email' | translate}}">
      </div>
      <div class="mt-2">
        <ng-container
          *ngIf="formControls?.email?.invalid && (formControls?.email?.dirty || formControls?.email?.touched)">
          <ng-container *ngIf="formControls?.email?.errors?.['required']">
            <span class="text-danger fs-8">
              {{'validations.requiredField'|translate}}
            </span>
          </ng-container>
          <ng-container *ngIf="formControls?.email?.errors?.pattern">
            <span class="text-danger fs-8">
              {{'validations.notValid'|translate}}
            </span>
          </ng-container>
        </ng-container>
      </div>
    </div>
    <button type="submit" class="btn w-100 btn-solid-main form-btn mt-4">
      <span>
        {{'form.confirm'|translate}}
      </span>
    </button>
  </form>
  <div class="text-center mt-5">
    <p><span>{{'form.notMember'|translate}}</span>
      <a class="text-main-color ps-1" [routerLink]="['/auth/register']">
        {{'form.registration'|translate}}
      </a>
    </p>
  </div>
</div>