<div class="personal p-4 padding-small-1">
  <form [formGroup]="accountInfoForm" (ngSubmit)="submit()">
    <div class="d-flex align-items-center justify-content-between flex-column flex-lg-row">
      <div>
        <h1 class="fw-bold fs-5 text-center-small">
          {{'profile.personal_info' | translate}}
        </h1>
        <p class="color-muted my-2">
          {{'profile.personal_info_text' | translate}}
        </p>
      </div>
      <div class="d-flex align-items-center">
        <button class="btn btn-solid-main me-2 d-flex justify-content-center align-items-center gap-2" type="submit"
          [disabled]="accountInfoForm.invalid || !accountInfoForm.dirty">
          <span>{{'general.save_changes' | translate}}</span>
          <ng-container *ngIf="isloadingBtn">
            <div id="spinner"></div>
          </ng-container>
        </button>
        <button class="btn btn-solid-second me-2" [routerLink]="['/home/policies/dashboard']">
          {{'general.cancel' | translate}}
        </button>
      </div>
    </div>
    <hr class="text-secondary-color mt-3" />
    <div class="user-info">
      <h1 class="fs-4 my-4 text-begin">
        {{'profile.account_info' | translate}}:
      </h1>
      <div class="row">

        <div class="col-xl-6 col-md-10 col-sm-12 col-12">
          <div class="mb-3">
            <div>
              <label class="form-label">
                {{'form.name'|translate}}
              </label>
              <input type="text" class="form-control" formControlName="name"
                placeholder="{{'placeholder.name' | translate}}"
                [class.is-invalid]="(formControls?.['name']?.touched ||formControls?.['name']?.dirty) && formControls?.['name']?.invalid"
                [class.is-valid]="(formControls?.['name']?.dirty) && formControls?.['name']?.valid">
            </div>
            <div class="mt-2">
              <div *ngIf="(formControls?.name?.touched || formControls?.name?.dirty) && formControls?.name?.invalid">
                <div *ngIf="formControls?.name?.errors?.['required']">
                  <span class="text-danger fs-6">
                    {{'validations.requiredField'|translate}}
                  </span>
                </div>
                <div *ngIf="formControls?.name?.errors?.['minlength'] || formControls?.name?.errors?.['maxlength']">
                  <span class="text-danger fs-6">
                    {{'validations.nameLength'|translate}}
                  </span>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="col-xl-6 col-md-10 col-sm-12 col-12">
          <div class="mb-3">
            <div>
              <label class="form-label">
                {{'form.phone'|translate}}
              </label>
              <ngx-intl-tel-input class="form-control"
                [preferredCountries]="[CountryISO.UnitedStates, CountryISO.Egypt]" [enableAutoCountrySelect]="false"
                [enablePlaceholder]="true" [searchCountryFlag]="true"
                [searchCountryField]="[SearchCountryField.Iso2, SearchCountryField.Name]" [selectFirstCountry]="false"
                [selectedCountryISO]="CountryISO.Egypt" [maxLength]="15" [phoneValidation]="true" name="phone"
                formControlName="phone"
                [class.is-invalid]="(formControls?.['phone']?.touched || formControls?.['phone']?.dirty) && formControls?.['phone']?.invalid"
                [class.is-valid]="formControls?.['phone']?.dirty && formControls?.['phone']?.valid">
              </ngx-intl-tel-input>
            </div>
            <div class="mt-2">
              <div
                *ngIf="(formControls?.['phone']?.touched || formControls?.['phone']?.dirty) && formControls?.['phone']?.invalid">
                <div *ngIf="formControls?.['phone']?.errors?.['required']">
                  <span class="text-danger fs-6">
                    {{'validations.requiredField'|translate}}
                  </span>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="col-xl-6 col-md-10 col-sm-12 col-12">
          <div class="mb-3">
            <div>
              <label class="form-label">
                {{'form.email'|translate}}
              </label>
              <input type="email" class="form-control" formControlName="email"
                placeholder="{{'placeholder.email' | translate}}"
                [class.is-invalid]="(formControls?.['email']?.touched ||formControls?.['email']?.dirty) && formControls?.['email']?.invalid"
                [class.is-valid]="(formControls?.['email']?.touched ||formControls?.['email']?.dirty) && formControls?.['email']?.valid">
            </div>
            <div class="mt-2">
              <div
                *ngIf="(formControls?.['email']?.touched ||formControls?.['email']?.dirty) && formControls?.['email']?.invalid ">
                <div *ngIf="formControls?.email?.errors?.['required']">
                  <span class="text-danger fs-6">
                    {{'validations.requiredField'|translate}}
                  </span>
                </div>
                <div *ngIf="formControls?.email?.errors?.['email']">
                  <span class="text-danger fs-6">
                    {{'validations.notValid'|translate}}
                  </span>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="col-xl-6 col-md-10 col-sm-12 col-12">
          <div class="mb-3">
            <div>
              <label for="exampleFormControlInput1" class="form-label">
                {{"form.date_of_birth"|translate}}
              </label>
              <div class="d-flex border rounded overflow-hidden"
                [class.border-red]="(formControls?.['birthdate']?.touched ||formControls?.['birthdate']?.dirty) && formControls?.['birthdate']?.invalid"
                [class.border-green]="(formControls?.['birthdate']?.touched ||formControls?.['birthdate']?.dirty) && formControls?.['birthdate']?.valid">
                <input matInput class="form-control border-0" placeholder="{{'placeholder.date_of_birth' | translate}}"
                  [matDatepicker]=" picker" formControlName="birthdate">
                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
              </div>
            </div>
            <div class="mt-2">
              <div
                *ngIf="(formControls?.['birthdate']?.touched ||formControls?.['birthdate']?.dirty) && formControls?.['birthdate']?.invalid ">
                <div *ngIf="formControls?.birthdate?.errors?.['required']">
                  <span class="text-danger fs-6">
                    {{'validations.requiredField'|translate}}
                  </span>
                </div>
              </div>
            </div>
          </div>

        </div>

        <div class="col-xl-6 col-md-10 col-sm-12 col-12">
          <div class="mb-3">
            <div>
              <label class="form-label">
                {{'form.company'|translate}}
              </label>
              <input type="text" class="form-control" formControlName="company"
                placeholder="{{'placeholder.company' | translate}}"
                [class.is-invalid]="(formControls?.['company']?.touched ||formControls?.['company']?.dirty) && formControls?.['company']?.invalid"
                [class.is-valid]="(formControls?.['company']?.touched ||formControls?.['company']?.dirty) && formControls?.['company']?.valid">
            </div>
            <div class="mt-2">
              <div
                *ngIf="(formControls?.company?.touched || formControls?.company?.dirty) && formControls?.company?.invalid">
                <div
                  *ngIf="formControls?.company?.errors?.['minlength'] || formControls?.company?.errors?.['maxlength']">
                  <span class="text-danger fs-6">
                    {{'validations.nameLength'|translate}}
                  </span>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="col-xl-6 col-md-10 col-sm-12 col-12">
          <div class="mb-3">
            <div>
              <label class="form-label">
                {{'general.gender'|translate}}
              </label>
              <ng-select notFoundText="{{'general.no_item_founded'|translate}}" class="rounded" formControlName="gender"
                placeholder="{{'general.select' | translate}}"
                [class.border-red]="(formControls?.['gender']?.touched ||formControls?.['gender']?.dirty) && formControls?.['gender']?.invalid"
                [class.border-green]="(formControls?.['gender']?.touched ||formControls?.['gender']?.dirty) && formControls?.['gender']?.valid">
                <ng-option value="male">{{'general.male' | translate}}</ng-option>
                <ng-option value="female">{{'general.female' | translate}}</ng-option>
              </ng-select>
            </div>
            <div class="mt-2">
              <div
                *ngIf="(formControls?.gender?.touched || formControls?.gender?.dirty) && formControls?.gender?.invalid">
                <div *ngIf="formControls?.gender?.errors?.['required']">
                  <span class="text-danger fs-6">
                    {{'validations.requiredField'|translate}}
                  </span>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="col-xl-6 col-md-10 col-sm-12 col-12">
          <div class="mb-3">
            <div>
              <label class="form-label">
                {{'general.job'|translate}}
              </label>
              <ng-select class="rounded" [items]="pageData?.jobs" [closeOnSelect]="false" [searchable]="true"
                [clearSearchOnAdd]="true" bindLabel="name" bindValue="id" formControlName="job"
                placeholder="{{'general.select' | translate}}"
                [class.border-red]="(formControls?.['job']?.touched ||formControls?.['job']?.dirty) && formControls?.['job']?.invalid"
                [class.border-green]="(formControls?.['job']?.touched ||formControls?.['job']?.dirty) && formControls?.['job']?.valid">
              </ng-select>
            </div>
            <div class="mt-2">
              <div *ngIf="(formControls?.job?.touched || formControls?.job?.dirty) && formControls?.job?.invalid">
                <div *ngIf="formControls?.job?.errors?.['required']">
                  <span class="text-danger fs-6">
                    {{'validations.requiredField'|translate}}
                  </span>
                </div>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>
  </form>
</div>

<ng-container *ngIf="isloadingBtn">
  <div class="overlay-spinner-loading d-flex justify-content-center align-items-center">
    <div class="spinner-grow" role="status">
    </div>
  </div>
</ng-container>