<ng-container *ngIf="isloadingBtn">
  <div class="overlay-spinner-loading d-flex justify-content-center align-items-center">
    <div class="spinner-grow" role="status">
    </div>
  </div>
</ng-container>
<div class="forget-password overflow-hidden bg-white-color">
  <div class="row d-flex justify-content-center align-items-center">
    <div class="col-xl-5 col-md-6 col-sm-8 col-12 h-100">
      <div class="d-flex flex-column justify-content-center align-items-center min-vh-100 mx-5 mx-small-1">

        <div class="d-flex justify-content-between align-items-center select-language w-100 mt-3">
          <img *ngIf="currentLanguage=='ar'" src="assets/image/eg.svg" class="fit-contain lang"
            (click)="tanslationService?.changeLang('en')">
          <img *ngIf="currentLanguage=='en'" src="assets/image/us.svg" class="fit-contain lang"
            (click)="tanslationService?.changeLang('ar')">
          <i class="fa fa-arrow-left scaleX-rtl" style="font-size: 1.5rem" (click)="back()"></i>
        </div>

        <h2 class="text-black-color mt-3 fs-3">
          {{'form.new_password' | translate}}
        </h2>

        <div class="d-flex justify-content-between align-items-center w-100">
          <form [formGroup]="newPasswordForm" (ngSubmit)="submit()" class="form-content py-5 w-100">

            <div class="mb-4">
              <label for="exampleInputPassword1" class="form-label">
                {{'form.new_password'|translate}}
              </label>
              <div class="input-group mb-3">
                <input [type]="showeye?'text':'password'" class="login-password-form form-control"
                  id="exampleInputPassword1" formControlName="newpassword"
                  placeholder="{{'placeholder.new_password' | translate}}"
                  [class.is-invalid]="(formControls?.['newpassword']?.touched||formControls?.['newpassword']?.dirty)&&formControls?.['newpassword']?.invalid"
                  [class.is-valid]="formControls?.['newpassword']?.dirty&&formControls?.['newpassword']?.valid">
                <span class="togglepassword input-group-text" id="basic-addon1"
                  [class.border-red]="(formControls?.['newpassword']?.touched||formControls?.['newpassword']?.dirty)&&formControls?.['newpassword']?.invalid"
                  [class.border-green]="formControls?.['newpassword']?.dirty&&formControls?.['newpassword']?.valid"
                  (click)="togglepassword()"><i [class]="showeye?'fas fa-eye':'fas fa-eye-slash'"></i></span>
              </div>
              <div class="mt-2">
                <div
                  *ngIf="(formControls?.newpassword?.touched || formControls?.newpassword?.dirty) && formControls?.newpassword?.invalid">
                  <div *ngIf="formControls?.newpassword?.errors?.['required']">
                    <span class="text-danger fs-6">
                      {{'validations.reuired_field'|translate}}
                    </span>
                  </div>
                  <div
                    *ngIf="formControls?.newpassword?.errors?.['minlength'] || formControls?.newpassword?.errors?.['maxlength']">
                    <span class="text-danger fs-6">
                      {{'validations.pass_length'|translate}}
                    </span>
                  </div>
                </div>
              </div>
            </div>

            <div class="mb-4">
              <label for="exampleInputPassword1" class="form-label">
                {{'form.confirm_password'|translate}}
              </label>
              <div class="input-group mb-3">
                <input [type]="showeye2?'text':'password'" class="login-password-form form-control"
                  id="exampleInputPassword1" formControlName="confirmpassword"
                  placeholder="{{'placeholder.confirm_password' | translate}}"
                  [class.is-invalid]="(formControls?.['confirmpassword']?.touched||formControls?.['confirmpassword']?.dirty)&&formControls?.['confirmpassword']?.invalid"
                  [class.is-valid]="formControls?.['confirmpassword']?.dirty&&formControls?.['confirmpassword']?.valid">
                <span class="togglepassword input-group-text" id="basic-addon1"
                  [class.border-red]="(formControls?.['confirmpassword']?.touched||formControls?.['confirmpassword']?.dirty)&&formControls?.['confirmpassword']?.invalid"
                  [class.border-green]="formControls?.['confirmpassword']?.dirty&&formControls?.['confirmpassword']?.valid"
                  (click)="togglepassword_confirm()"><i [class]="showeye2?'fas fa-eye':'fas fa-eye-slash'"></i></span>
              </div>
              <div class="mt-2">
                <div
                  *ngIf="(formControls?.['confirmpassword']?.touched || formControls?.['confirmpassword']?.dirty) && formControls?.['confirmpassword']?.invalid">
                  <div *ngIf="formControls?.['confirmpassword']?.errors?.['required']">
                    <span class="text-danger fs-6">
                      {{'validations.reuired_field'|translate}}
                    </span>
                  </div>
                  <div *ngIf="formControls?.['confirmpassword']?.errors?.['ConfirmPassword']">
                    <span class="text-danger fs-6">
                      {{'validations.not_match'|translate}}
                    </span>
                  </div>
                </div>
              </div>
            </div>

            <button type="submit" class="btn w-100 btn-solid-main mb-3"
              [disabled]="newPasswordForm.invalid || isloadingBtn">
              {{'form.confirm'|translate}}
            </button>

          </form>
        </div>
      </div>
    </div>
  </div>
</div>
