<div id="reset-password">
  <div class="d-flex justify-content-between align-items-center gap-2 mb-5">
    <div class="back">
      <a (click)="back()">
        <i class="fas fa-arrow-left scaleX-rtl"></i>
      </a>
    </div>
    <div class="justify-content-end d-flex me-auto">
      <app-language-selector></app-language-selector>
    </div>
  </div>
  <div class="d-lg-none d-flex justify-content-center align-items-center gap-3 flex-wrap mb-3">
    <img src="assets/image/logo/logo.png" class="form-logo mb-2" alt="logo" [routerLink]="['/home']">
    <!-- <img src="assets/image/logo/logo.png" class="form-logo mb-2" alt="logo" [routerLink]="['/home']"> -->
  </div>
  <h2 class="fs-1 text-sm-center">
    {{'form.newPassword' | translate}}
  </h2>
  <form [formGroup]="newPasswordForm" (ngSubmit)="submit()" class="py-sm-5 py-4">
    <div class="mb-4">
      <div class="rounded-input p-mask"
        [class.border-red]="formControls?.newPassword?.invalid && (formControls?.newPassword?.dirty || formControls?.newPassword?.touched)">
        <p-password [toggleMask]="true" formControlName="newPassword"
          placeholder="{{'placeholder.newPassword' | translate}}" class="position-relative" autocomplete="cc-name"
          [feedback]="false">
        </p-password>
      </div>
      <ng-container
        *ngIf="formControls?.newPassword?.invalid && (formControls?.newPassword?.dirty || formControls?.newPassword?.touched) ">
        <div class="mt-2">
          <ng-container *ngIf="formControls?.newPassword?.errors?.['required']">
            <span class="text-danger fs-8">
              {{'validations.requiredField'|translate}}
            </span>
          </ng-container>
          <ng-container *ngIf="formControls?.newPassword?.errors?.['pattern']">
            <span class="text-danger fs-8 lh-sm">
              {{'validations.passwordPattern'|translate}}
            </span>
          </ng-container>
        </div>
      </ng-container>
    </div>
    <div class="mb-4">
      <div class="rounded-input p-mask"
        [class.border-red]="formControls?.confirmPassword?.invalid && (formControls?.confirmPassword?.dirty || formControls?.confirmPassword?.touched)"
        [class.is-valid]="formControls?.confirmPassword?.valid && (formControls?.confirmPassword?.dirty || formControls?.confirmPassword?.touched)"
        [class.disabled]="formControls?.newPassword?.invalid">
        <p-password [toggleMask]="true" formControlName="confirmPassword"
          placeholder="{{'placeholder.confirm_password' | translate}}" class="position-relative" autocomplete="cc-name"
          [feedback]="false">
        </p-password>
      </div>
      <ng-container
        *ngIf="formControls?.confirmPassword?.invalid && (formControls?.confirmPassword?.dirty || formControls?.confirmPassword?.touched) ">
        <div class="mt-2">
          <ng-container *ngIf="formControls?.confirmPassword?.errors?.['required']">
            <span class="text-danger fs-8">
              {{'validations.requiredField'|translate}}
            </span>
          </ng-container>
          <ng-container *ngIf="formControls?.confirmPassword?.errors?.['pattern']">
            <span class="text-danger fs-8 lh-sm">
              {{'validations.passwordPattern'|translate}}
            </span>
          </ng-container>
          <ng-container *ngIf="formControls?.['confirmPassword']?.errors?.ConfirmPassword">
            <span class="text-danger fs-8">
              {{ "validations.not_match" | translate }}
            </span>
          </ng-container>
        </div>
      </ng-container>
    </div>
    <button type="submit" type="submit" class="btn w-100 btn-solid-main form-btn mt-4">
      {{'form.confirm'|translate}}
    </button>
  </form>
</div>