/* You can add global styles to this file, and also import other style files */
@import url("https://fonts.googleapis.com/css2?family=Cairo:wght@400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap");

html,
body {
  // height: 100%;
}

body {
  margin: 0;
  font-family: "Open Sans", sans-serif;
}

/* Importing Bootstrap SCSS file. */
@import "~bootstrap/dist/css/bootstrap.min.css";
@import "~@ng-select/ng-select/themes/default.theme.css";
@import "assets/scss/variables.scss";
@import "assets/scss/buttons.scss";
@import "assets/scss/global-rules.scss";
@import "assets/scss/cust-style.scss";
@import "assets/scss/form-field.scss";
@import "assets/scss/primeng/p-form-field.scss";
@import "assets/scss/primeng/p-calender.scss";
@import "assets/scss/tel-intel.scss";
@import "assets/scss/dialog.scss";
@import "assets/scss/colors-classes.scss";
@import "assets/scss/status.scss";
@import "assets/scss/primeng/p-select.scss";
@import "~ngx-photo-editor/photo-editor.css";

[dir="rtl"] {
  @import "~bootstrap/dist/css/bootstrap.min.css";
  @import "assets/scss/cust-style-rtl.scss";
  @import "assets/scss/primeng/prime-ng-rtl-icons.scss";
  @import "assets/scss/primeng/prim-ng-rtl.scss";
  @import "assets/scss/rtl-style/p-form-field-rtl.scss";
  @import "assets/scss/rtl-style/tel-intel-rtl.scss";
  @import "assets/scss/rtl-style/style-rtl.scss";
  @import "assets/scss/rtl-style/rtl-stepper.scss";
}

html,
body {
  // height: 100%;
  overflow-x: hidden;
}

body {
  margin: 0;
  font-family: "Roboto", sans-serif;
}

html,
body {
  // height: 100%;
}

body {
  margin: 0;
  font-family: "Roboto", sans-serif;
}
