<div id="register" class="py-4 auth-form bg-transparent">
  <div class="d-flex justify-content-between align-items-center flex-wrap gap-2 mb-md-4 mb-2">
    <a class="d-lg-none d-flex align-items-center gap-2 text-dark-color" [routerLink]="['/home']">
      <i class="fas fa-arrow-left scaleX-rtl"></i>
      <span>{{'general.backToHome'|translate}}</span>
    </a>
    <div class="justify-content-end d-flex me-auto">
      <app-language-selector></app-language-selector>
    </div>
  </div>
  <div class="d-lg-none d-flex justify-content-center align-items-center gap-3 flex-wrap mb-3">
    <img src="assets/image/logo/logo.png" class="form-logo mb-2" alt="logo" [routerLink]="['/home']">
    <!-- <img src="assets/image/logo/logo.png" class="form-logo mb-2" alt="logo" [routerLink]="['/home']"> -->
  </div>
  <h2 class="fs-1 text-sm-center">{{ "form.registration" | translate }}</h2>
  <p class="mt-2 text-sm-center lh-sm">{{'form.enterRegisterData'|translate}}</p>

  <form [formGroup]="registerForm" (ngSubmit)="submit()" class="py-4">
    <div class="row">
      <div class="col-md-6">
        <div class="mb-4">
          <div>
            <input type="text" class="form-control" formControlName="firstName"
              placeholder="{{ 'placeholder.firstName' | translate }}"
              (input)="publicService?.clearValidationErrors(formControls?.firstName)"
              [class.is-invalid]="(formControls?.['firstName']?.touched ||formControls?.['firstName']?.dirty) && formControls?.['firstName']?.invalid"
              autocomplete="cc-name" />
          </div>
          <ng-container *ngIf="
          (formControls?.firstName?.touched ||
          formControls?.firstName?.dirty) &&
          formControls?.firstName?.invalid
          ">
            <div class="mt-2">
              <ng-container *ngIf="formControls?.firstName?.errors?.['required']">
                <span class="text-danger fs-8">
                  {{ "validations.requiredField" | translate }}
                </span>
              </ng-container>
              <ng-container
                *ngIf="formControls?.firstName?.errors?.['minlength'] || formControls?.firstName?.errors?.['maxlength']">
                <span class="text-danger fs-8">
                  {{ "validations.nameLength" | translate }}
                </span>
              </ng-container>
            </div>
          </ng-container>
        </div>
      </div>
      <div class="col-md-6">
        <div class="mb-4">
          <div>
            <input type="text" class="form-control" formControlName="lastName"
              placeholder="{{ 'placeholder.lastName' | translate }}"
              (input)="publicService?.clearValidationErrors(formControls?.lastName)"
              [class.is-invalid]="(formControls?.['lastName']?.touched ||formControls?.['lastName']?.dirty) && formControls?.['lastName']?.invalid"
              autocomplete="cc-name" />
          </div>
          <ng-container *ngIf="
          (formControls?.lastName?.touched ||
          formControls?.lastName?.dirty) &&
          formControls?.lastName?.invalid
          ">
            <div class="mt-2">
              <ng-container *ngIf="formControls?.lastName?.errors?.['required']">
                <span class="text-danger fs-8">
                  {{ "validations.requiredField" | translate }}
                </span>
              </ng-container>
              <ng-container
                *ngIf="formControls?.lastName?.errors?.['minlength'] || formControls?.lastName?.errors?.['maxlength']">
                <span class="text-danger fs-8">
                  {{ "validations.nameLength" | translate }}
                </span>
              </ng-container>
            </div>
          </ng-container>
        </div>
      </div>
    </div>
    <div class="mb-4">
      <input type="text" class="form-control" formControlName="email" autocomplete="cc-name"
        (input)="publicService?.clearValidationErrors(formControls?.email)"
        [class.is-invalid]="formControls?.email?.invalid && (formControls?.email?.dirty || formControls?.email?.touched)"
        placeholder="{{'placeholder.email' | translate}}">
      <div class="mt-2">
        <ng-container
          *ngIf="formControls?.email?.invalid && (formControls?.email?.dirty || formControls?.email?.touched)">
          <ng-container
            *ngIf="formControls?.email?.invalid && (formControls?.email?.dirty || formControls?.email?.touched)">
            <ng-container *ngIf="formControls?.email?.errors?.['required']">
              <span class="text-danger fs-8">
                {{'validations.requiredField'|translate}}
              </span>
            </ng-container>
            <ng-container *ngIf="formControls?.email?.errors?.['pattern']">
              <span class="text-danger fs-8 d-block lh-base">
                {{'validations.notValid'|translate}}
              </span>
            </ng-container>
          </ng-container>
        </ng-container>
      </div>
    </div>
    <div class="mb-4">
      <div [class.border-red-phone]="formControls?.phone?.invalid && (formControls?.phone?.dirty || formControls?.phone?.touched
      )">
        <ngx-intl-tel-input class="intel-tel-input px-1" [preferredCountries]="[
            CountryISO.UnitedStates,
            CountryISO.Egypt
          ]" [enableAutoCountrySelect]="true" [enablePlaceholder]="true" [searchCountryFlag]="true"
          [searchCountryField]="[SearchCountryField.Iso2, SearchCountryField.Name]" [selectFirstCountry]="true"
          [selectedCountryISO]="CountryISO.Egypt" [maxLength]="15" [phoneValidation]="true" [separateDialCode]="true"
          name="phone" (countryChange)="formControls?.phone?.reset()" formControlName="phone"
          (input)="publicService?.clearValidationErrors(formControls?.phone)"
          [class.is-invalid]="(formControls?.['phone']?.touched || formControls?.['phone']?.dirty) && formControls?.['phone']?.invalid"
          [class.is-valid]="formControls?.['phone']?.dirty && formControls?.['phone']?.valid" autocomplete="cc-name">
        </ngx-intl-tel-input>
      </div>
      <div class="mt-2">
        <ng-container
          *ngIf="(formControls?.['phone']?.touched || formControls?.['phone']?.dirty) && formControls?.['phone']?.invalid">
          <ng-container *ngIf="formControls?.['phone']?.errors?.['required']">
            <span class="text-danger fs-8">
              {{ "validations.requiredField" | translate }}
            </span>
          </ng-container>
          <ng-container *ngIf="formControls?.phone?.errors?.validatePhoneNumber">
            <span class="text-danger fs-8">
              {{'validations.phoneNotCorrect'|translate}}
            </span>
          </ng-container>
        </ng-container>
      </div>
    </div>
    <div class="mb-4">
      <div
        [class.border-red]="formControls?.birth_date?.invalid && (formControls?.birth_date?.dirty || formControls?.birth_date?.touched)">
        <p-calendar formControlName="birth_date" [showIcon]="true" inputId="icon" placeholder="DD/MM/YYYY"
          appendTo="body" [showButtonBar]="true" dateFormat="dd/mm/yy" hourFormat="12"></p-calendar>
      </div>
      <ng-container
        *ngIf="(formControls?.['birth_date']?.touched ||formControls?.['birth_date']?.dirty) && formControls?.['birth_date']?.invalid ">
        <div class="mt-2">
          <div *ngIf="formControls?.birth_date?.errors?.['required']">
            <span class="text-danger fs-6">
              {{ "validations.requiredField" | translate }}
            </span>
          </div>
        </div>
      </ng-container>
    </div>
    <div class="mb-4">
      <div class="rounded-input p-mask"
        [class.border-red]="formControls?.password?.invalid && (formControls?.password?.dirty || formControls?.password?.touched)">
        <p-password [toggleMask]="true" formControlName="password" placeholder="{{'placeholder.password' | translate}}"
          class="position-relative" autocomplete="cc-name" [feedback]="false">
        </p-password>
      </div>
      <ng-container
        *ngIf="formControls?.password?.invalid && (formControls?.password?.dirty || formControls?.password?.touched) ">
        <div class="mt-2">
          <ng-container *ngIf="formControls?.password?.errors?.['required']">
            <span class="text-danger fs-8">
              {{'validations.requiredField'|translate}}
            </span>
          </ng-container>
          <ng-container *ngIf="formControls?.password?.errors?.['pattern']">
            <span class="text-danger fs-8 lh-sm">
              {{'validations.passwordPattern'|translate}}
            </span>
          </ng-container>
        </div>
      </ng-container>
    </div>
    <div class="mb-4">
      <div class="rounded-input p-mask"
        [class.border-red]="formControls?.confirmPassword?.invalid && (formControls?.confirmPassword?.dirty || formControls?.confirmPassword?.touched)"
        [class.is-valid]="formControls?.confirmPassword?.valid && (formControls?.confirmPassword?.dirty || formControls?.confirmPassword?.touched)"
        [class.disabled]="formControls?.password?.invalid">
        <p-password [toggleMask]="true" formControlName="confirmPassword"
          placeholder="{{'placeholder.confirm_password' | translate}}" class="position-relative" autocomplete="cc-name"
          [feedback]="false">
        </p-password>
      </div>
      <ng-container
        *ngIf="formControls?.confirmPassword?.invalid && (formControls?.confirmPassword?.dirty || formControls?.confirmPassword?.touched) ">
        <div class="mt-2">
          <ng-container *ngIf="formControls?.confirmPassword?.errors?.['required']">
            <span class="text-danger fs-8">
              {{'validations.requiredField'|translate}}
            </span>
          </ng-container>
          <ng-container *ngIf="formControls?.confirmPassword?.errors?.['pattern']">
            <span class="text-danger fs-8 lh-sm">
              {{'validations.passwordPattern'|translate}}
            </span>
          </ng-container>
          <ng-container *ngIf="formControls?.['confirmPassword']?.errors?.ConfirmPassword">
            <span class="text-danger fs-8">
              {{ "validations.not_match" | translate }}
            </span>
          </ng-container>
        </div>
      </ng-container>
    </div>
    <button type="submit" class="btn w-100 btn-solid-main form-btn mt-4" [disabled]="isLoadingBtn">
      <span>
        {{'form.confirm'|translate}}
      </span>
    </button>
  </form>
  <div class=" mt-4">
    <p class="d-flex justify-content-center align-items-center gap-2">
      <span> {{ "form.have_account" | translate }}</span>
      <a class="text-main-color ps-1" [routerLink]="['/auth/login']">
        {{ "form.login" | translate }}
      </a>
    </p>
    <ng-container *ngIf="isResend">
      <div class="d-flex align-items-center justify-content-center mt-3">
        <p>
          {{ "form.resend_confirm_q" | translate }}?
          <a routerLink="/auth/login" class="text-main-color">
            {{ "form.resendConfirmation" | translate }}
          </a>
        </p>
      </div>
    </ng-container>
  </div>
</div>