<div class="dashboard">
  <div class="partner dashboard-card p-4">
    <h1 class="fs-5 text-center-small">
      Our Partner
    </h1>
    <hr class="text-secondary-color mt-3" />
    <div class="row">
      <div class="col-xl-8 col-md-6 col-sm-12 col-12">
        <div class="d-flex justify-content-center align-items-center">
          <img class="w-100 fit-contain" src="assets/image/policy/map.jpg" alt="map image">
        </div>
      </div>
      <div class="col-xl-4 col-md-6 col-sm-12 col-12 mt-small-1">
        <div class="d-flex justify-content-center align-items-center">
          qqq
        </div>
      </div>
    </div>
  </div>
</div>
