<ng-container *ngIf="isLoadingBtn">
  <div class="spinner d-flex justify-content-center align-items-center">
    <div class="spinner-grow text-secondary" role="status">
      <span class="visually-hidden">Loading...</span>
    </div>
    <div class="spinner-grow text-secondary" role="status">
      <span class="visually-hidden">Loading...</span>
    </div>
    <div class="spinner-grow text-secondary" role="status">
      <span class="visually-hidden">Loading...</span>
    </div>
  </div>
</ng-container>
<ng-container *ngIf="!isLoadingBtn">
  <div class="layout-content min-vh-100">
    <app-header></app-header>
    <router-outlet></router-outlet>
  </div>
  <!-- <app-scroll-to-top></app-scroll-to-top> -->

</ng-container>