<a *ngIf="type === 'twitter'" (click)="share()">
  <div class="icon-content text-center mb-4">
    <div class="icon d-flex justify-content-center align-items-center mb-2 twitter m-auto"><i
        class="fab fa-twitter fs-5"></i></div>
    <p class="fs-p">Twitter</p>
  </div>
</a>
<a *ngIf="type === 'facebook'" (click)="share()">
  <div class="icon-content text-center mb-4">
    <div class="icon d-flex justify-content-center align-items-center mb-2 face m-auto"><i
        class="fab fa-facebook fs-5"></i></div>
    <p class="fs-p">Facebook</p>
  </div>
</a>
<a *ngIf="type === 'linkedIn'" (click)="share()">
  <div class="icon-content text-center mb-4">
    <div class="icon d-flex justify-content-center align-items-center mb-2 linked m-auto"><i
        class="fab fa-linkedin-in fs-5"></i></div>
    <p class="fs-p">LinkedIn</p>
  </div>
</a>
<a *ngIf="type === 'whatsapp'" (click)="share()">
  <div class="icon-content text-center mb-4">
    <div class="icon d-flex justify-content-center align-items-center mb-2 whatsapp m-auto"><i
        class="fab fa-whatsapp fs-5"></i></div>
    <p class="fs-p">Whatsapp</p>
  </div>
</a>
<a *ngIf="type === 'instagram'" (click)="share()">
  <div class="icon-content text-center mb-4">
    <div class="icon d-flex justify-content-center align-items-center mb-2 insta m-auto"><i
        class="fab fa-instagram fs-5"></i></div>
    <p class="fs-p">Instagram</p>
  </div>
</a>
<a *ngIf="type === 'discard'" (click)="share()">
  <div class="icon-content text-center mb-4">
    <div class="icon d-flex justify-content-center align-items-center mb-2 discard m-auto"><i
        class="fab fa-discord fs-5"></i></div>
    <p class="fs-p">Discard</p>
  </div>
</a>
<a *ngIf="type === 'telegram'" (click)="share()">
  <div class="icon-content text-center mb-4">
    <div class="icon d-flex justify-content-center align-items-center mb-2 twitter m-auto"><i
        class="fab fa-telegram fs-5"></i></div>
    <p class="fs-p">Telegram</p>
  </div>
</a>
