.dropdown-language {
  .dropdown .dropdown-menu {
    top: 3rem !important;
    min-width: 11rem;
  }

  .dropdown-toggle::after {
    display: inline-block !important;
  }

  .dropdown-lang-select {
    width: 3rem;
    height: 3rem;
  }

  .dropdown-flag {
    width: 3rem;
    height: 3rem;
  }

  .drop-img {
    width: 1.5rem;
  }

  .drop-select {
    transition: all 0.2s ease-in-out;
    cursor: pointer;
    border-radius: 5px;
    padding: 12px;
  }

  .drop-select:hover {
    background: var(--bg-second-color);
    color: var(--text-main-color);
  }
}
