.dropdown-language {
  .dropdown .dropdown-menu {
    top: 3.5rem !important;
  }

  // .dropdown-toggle::after {
  //   display: inline-block !important;
  //   position: relative;
  //   top: -0.4rem;
  // }

  .dropdown-lang-select {
    width: 3rem;
    height: 3rem
  }

  .dropdown-flag {
    width: 3rem;
    height: 3rem
  }

  .drop-img {
    width: 1.5rem;
  }

  .drop-select {
    transition: all .2s ease-in-out;
    cursor: pointer;
  }

  .drop-select:hover {
    background: var(--bg-second-color);
  }
}
