<div class="dropdown-language general-dropdown">
  <div class="dropdown">
    <button class="dropdown-toggle btn p-0 text-capitalize  d-flex align-items-center " type="button"
      id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
      <img src="assets/image/icons/language.svg" class="mx-1 language-img scaleX-rtl" alt="language">
      {{'general.Language' | translate}}
    </button>
    <ul class="dropdown-menu rounded-25 border-0 shadow" aria-labelledby="dropdownMenuButton1"
      [class.dropdown-top]="typeModule=='auth'">
      <li class="drop-select d-flex align-items-center m-2" (click)="translationService?.changeLang('en')"><img
          class="drop-img me-2" src="assets/image/us.svg">
        English
      </li>
      <li class="drop-select d-flex align-items-center m-2" (click)="translationService?.changeLang('ar')"><img
          class="drop-img me-2" src="assets/image/eg.svg"> عربي</li>
    </ul>
  </div>
</div>