<div class="dropdown-language general-dropdown me-4">
  <div class="dropdown">
    <button class="dropdown-toggle btn p-0 dropdown-lang-select" type="button" id="dropdownMenuButton1"
      data-bs-toggle="dropdown" aria-expanded="false">
      <img *ngIf="currentLanguage =='en'" class="dropdown-flag w-100 h-100" src="assets/image/us.svg">
      <img *ngIf="currentLanguage =='ar'" class="dropdown-flag w-100 h-100" src="assets/image/eg.svg">
    </button>
    <ul class="dropdown-menu rounded-25 border-0 shadow" aria-labelledby="dropdownMenuButton1">
      <li class="drop-select d-flex align-items-center px-2 py-3" (click)="tanslationService?.changeLang('en')"><img
          class="drop-img me-2" src="assets/image/us.svg"> {{'language.english' |translate}}</li>
      <li class="drop-select d-flex align-items-center px-2 py-3" (click)="tanslationService?.changeLang('ar')"><img
          class="drop-img me-2" src="assets/image/eg.svg"> {{'language.arabic' |translate}}</li>
    </ul>
  </div>
</div>
